/*----------------------------- start GLOBAL -----------------------------*/
* {
    user-select: none;
}

body,html {
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: 10px;
    font-family: Pridi;
    --font-family-sans-serif: Pridi;
    --font-family-monospace: Pridi;
    color: #4d4d4d;
    font-weight: lighter;
}

header,footer {
    margin-left: auto!important;
    margin-right: auto!important;
    padding-left: 0!important;
    padding-right: 0!important;
}

main {
    margin-top: 7rem;
    height: calc(100% - 7rem);
    overflow-y: auto;
    overflow-x: hidden;
}

button {
    position: relative;
    background: no-repeat;
    border: none;
    outline: none!important;
	cursor: pointer;
}

a,a:hover{
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7rem;
    padding: 0 2rem!important;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    background-color: #0e57a5;
    z-index: 1;
}
*{
    outline: none!important;
}
.header-title {
    position: absolute;
    left: 50%;
    color: #fff;
    transform: translateX(-50%);
    font-size: 3rem;
}

.header-icon {
    color: #fff;
    font-size: 1.8rem;
    margin-right: 1rem;
}

.header-text {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
}
.under-header-card {
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    padding: 1.5rem 4rem;
}
.under-header-icon {
    font-size: 5rem;
    color: #328fec;
}
.under-header-title{
    color: #000;
    font-size: 2.6rem;
    font-weight: normal;
}
p,div,span {
    font-size: 1.6rem;
}

#app {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

#app > div {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.scrollable {
    overflow: auto;
    /*will-change: transform;*/
}

.content-wrapper {
    padding: 0.86rem 1.07rem;
    position: relative;
}

.container.max-tablet {
    max-width: 768px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input.con-text-input {
    padding: 18px 32px;
    font-size: 2.5rem;
    border-radius: 2rem;
}

input.con-text-input::-webkit-input-placeholder {
    color: #afafaf;
    opacity: 1;
}

input.con-text-input::-moz-placeholder {
    color: #afafaf;
    opacity: 1;
}

input.con-text-input:-ms-input-placeholder {
    color: #afafaf;
    opacity: 1;
}

input.con-text-input::-ms-input-placeholder {
    color: #afafaf;
    opacity: 1;
}

input.con-text-input::placeholder {
    color: #afafaf;
    opacity: 1;
}

button.con-button ,button.con-blue-button {
    border-radius: 2rem;
    box-shadow: 0 15px 20px 0 rgba(2, 31, 64, 0.2);
    background: #00a651;
    color: #fff!important;
    border: none;
    font-size: 2.6rem;
    padding: 1rem 0;
}
button.con-blue-button {
    background-color: #0E57A5!important;
}
.card{
    border:none;
    border-radius: 1rem;
}
.con-dropdown-wrapper {
    position:relative;
}

.con-dropdown-wrapper * {
    font-size: 2.4rem;
    font-weight: 400;
    color:#000;
}

.con-dropdown-header {
    display: flex!important;
    align-items: center;
    width: 100%;
    padding: 1.2rem 1.7rem;
    padding-right: 5rem;
    background:#fff;
    border:0.1rem solid #003c8f;
    border-radius: 2rem;
    box-shadow: 0 10px 15px 0 rgba(2, 31, 64, 0.2);
    transition: box-shadow 0.3s ease, padding-bottom 0.3s ease, margin-bottom 0.3s ease!important;
    will-change: padding;
}

.con-dropdown-header:after {
    content: "\e917";
    font-family: 'icomoon' !important;
    display: block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #003c8f;
    font-size: 2rem;
    position: absolute;
    top: calc(1.6rem);
    right: 2.4rem;
    transition:transform 0.2s ease;
}

.con-dropdown-options {
    position:absolute;
    top: calc(100% - 1.3rem);
    width:100%;
    max-height: 0;
    overflow:hidden;
    background:#fff;
    border: 0rem solid #003c8f;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0 10px 15px 0 rgba(2, 31, 64, 0.2);
    transition: max-height 0.3s ease, border 0.8s ease, border 0.8s ease;
    will-change: height;
}

.con-dropdown-options-items {
    display: flex!important;
    align-items: center;
    padding: 0.7rem 1.7rem;
    border-bottom: 1px solid #afafaf55;
}

.con-dropdown-options-items:hover {
    background:#003c8fdb;
    color:#fff;
}
.con-dropdown-options-items:hover * {
    color:#fff;
}

.con-dropdown-wrapper{
    z-index:4;
}

.con-dropdown-wrapper.active .con-dropdown-header{
    padding-bottom: 2rem;
    margin-bottom: -0.8rem;
}

.con-dropdown-wrapper.active .con-dropdown-header:after{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.con-dropdown-wrapper.active .con-dropdown-options{
    display:block;
    max-height: 100vh;
    border: 0.1rem solid #003c8f;
    transition: max-height 0.3s ease, border 0.3s ease;
}
.con-noti-bar {
    position: fixed;
    top: 0;
    left: 50%;
    width: 80%;
    height: 9rem!important;
    display: flex!important;
    flex-direction: row!important;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.15);
    transform: translate(-50%, -100%);
    transition: transform 1s ease;
    z-index: 500;
}

.con-noti-bar * {
    font-size: 2.4rem;
    font-weight: 400;
    color: #3c3c3c;
}

.con-noti-bar.active {
    transform: translate(-50%, 0);
}
.con-noti-bar-maker {
    width: 3.5rem;
    height: 3.5rem;
}
.con-noti-bar-maker div {
    font-size: 1.4rem;
}


@media only screen and (max-width: 425px) {
    input.con-text-input {
        padding: 14px 22px;
    }
}

/*----------------------------- end GLOBAL ----------------------*/
/*----------------------------- start utils -----------------------------*/
.black-text {
    color: #383838!important;
}

.white-text {
    color: #fff!important;
}

.grey-text {
    color: #afafaf!important;
}
.greypale-text {
    color: #707070!important;
}

.browngrey-text{
	color: #3c3c3c!important;
}

.darkblue-text{
	color: #021f40!important;
}

.deepblue-text{
    color: #0e57a5!important;
}

.blue-text{
	color: #003c8f!important;
}

.lightblue-text{
	color: #0e57a5!important;
}

.green-text{
	color: #00a651!important;
}
.red-text{
    color: #e52f1e!important;
}

.bigger-text {
	font-size: 4rem!important;
}

.big-text {
	font-size: 3rem!important;
}

.medium-text {
	font-size: 2.4rem!important;
}

.small-text {
	font-size: 2rem!important;
}

.smaller-text {
	font-size: 1.8rem!important;
}

.bolder-text {
	font-weight: 600!important;
}

.bold-text {
	font-weight: 500!important;
}

.normal-text {
	font-weight: 400!important;
}

.light-text {
	font-weight: 300!important;
}

.blue-bg {
    background: #0e57a5!important;
    background-color: #0e57a5!important;
}

.lightblue-bg {
    background: #0575e6!important;
    background-color: #0575e6!important;
}
.green-bg{
    background: #00a651!important;
    background-color: #00a651!important;
}
.gray-bg {
    background: #f2f4f8!important;
    background-color: #f2f4f8!important;
}

.lightgreen-bg{
    background: #7CB342!important;
    background-color: #7CB342!important;
}

.no-bg {
    background:#ffffff00!important;
}
.no-border{
    border:none!important;
}
.gradient-transparent-grey-bg {
    background-image: -ms-linear-gradient(top, #ffffff00 0%, #F2F4F8 80%);
    background-image: -moz-linear-gradient(top, #ffffff00 0%, #F2F4F8 80%);
    background-image: -o-linear-gradient(top, #ffffff00 0%, #F2F4F8 80%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff00 ), color-stop(80, #F2F4F8));
    background-image: -webkit-linear-gradient(to bottom, #ffffff00 0%, #F2F4F8 80%);
    background-image: linear-gradient(to bottom, #ffffff00 0%, #F2F4F8 80%);
}

.clickable {
    display: inline-block;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.clickable:hover {
    transform: translateY(1px);
    box-shadow: none;
}

.clickable:active {
    transform: translateY(1px);
    box-shadow: none;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}
.w-50{
    width:50%;
}
.flex-middle-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.middle-vertical-line-dashed {
    border-right: 2px dashed #003c8f80;
}
.middle-horizontal-line-dashed {
    border-bottom: 2px dashed #003c8f80;
}
.middle-horizontal-line {
    border-bottom: 2px solid #003c8f80;
}
.absolute-middle-vertical-line-dashed{
	position:absolute;
	height: calc(100% - 2rem);
	width:1px;
	left: calc(50% - 10px);
	border-right: 2px dashed #003c8f80;
}
.con-tab {
    position: relative;
    /* width: calc(100% - 7rem); */
    height: 6rem;
    border-radius: 2rem;
    border: 1px solid #0e57a5;
    -webkit-box-shadow: 0 1.5rem 2rem 0 rgba(2, 31, 64, 0.2);
    box-shadow: 0 1.5rem 2rem 0 rgba(2, 31, 64, 0.2);
    overflow: hidden;
    margin-top: 2rem;
    z-index: 1;
}
.con-tab-item {
    cursor: pointer;
    width: 50%;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    color: #021f40;
    background: #fff;
}
.con-tab-item.active {
    background: #0e57a5;
    color: #fff;
    font-weight: 300;
/*     margin: 0 -1px; */
}
.con-tab-vertical-line {
    border-right: 1px solid #0e57a5;
    height: calc(100% - 2rem);
    margin-top: 1rem;
}
.saison-banner{
    position:relative;
    background:#fff;
    border-radius:2rem;
    width:100%;
    min-height:30rem;
    margin-top: 2rem;
    border:1px solid #707070;
}
.saison-banner:before {
  content: url('/static/img/saison_credit.png');
  /*position:absolute;*/
  /*left:50%;*/
  /*top:50%;*/
  /*transform:translate(-50%,-8rem);*/
  opacity:0.2;
}
.saison-banner:after {
  content: "BANNER ADS";
  /*position:absolute;*/
  /*left:50%;*/
  /*top:50%;*/
  /*transform:translate(-50%,5rem);*/
  font-size:3.2rem;
  font-weight:500;
  color: #d1d1d1;
}
.fault-round {
    background: #fd5959;
    padding: 0.8rem;
    border-radius: 50%;
}
.fault-round div {
    font-size: 1.2rem;
    color: #fff;
}
.transaction-status {
    display: inline-block;
    padding: 0.3rem 1rem;
    text-align: center;
    font-size: 1.9rem;
    border-radius: 1rem;
    color: #fff;
}
.transaction-status.waiting {
    background-color: #0e57a5;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
.pointer-events-none{
   pointer-events: none;
}
/*----------------------------- end utils -----------------------------*/
/*----------------------------- start loader -----------------------------*/
.loader, .splashScreen {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.25);
    transition: opacity .65s linear;
    -webkit-transition: -webkit-opacity .65s linear;
    -moz-transition: -moz-opacity .65s linear;
    -ms-transition: -ms-opacity .65s linear;
    -o-transition: -o-opacity .65s linear;
    will-change: opacity;
    z-index: 15;
}

.loader > .loader-img-wrapper {
    background: #fff;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.loader > .loader-img-wrapper > img {
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    object-fit: scale-down;
    margin-top: 5px;
}

.splashScreen > img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 78px;
    height: 78px;
}

.loader.active > .loader-ring-spin {
    display: inline-block;
    position: fixed;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}

.loader.active > .loader-ring-spin > div {
    content: " ";
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 0px;
    border-radius: 50%;
    border: 12px solid #fff;
    border-color: #0e57a5 rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2);
    animation: loader-ring-anim 1.1s linear infinite;
}

#app.page-loading-blur > div:nth-child(1) {
    backdrop-filter: blur(5px);
    filter: blur(5px);
}

@keyframes loader-ring-anim {
    0% {
        transform: none;
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-ring-anim {
    0% {
        -webkit-transform: none;
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes loader-ring-anim {
    0% {
        -moz-transform: none;
    }

    50% {
        -moz-transform: rotate(180deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

.splashScreen {
    background: #0e57a5;
    transition: opacity .65s linear;
    -webkit-transition: -webkit-opacity .65s linear;
    -moz-transition: -moz-opacity .65s linear;
    -ms-transition: -ms-opacity .65s linear;
    -o-transition: -o-opacity .65s linear;
}

.splashScreen > img {
    width: auto;
    max-width: 65%;
    min-width: 310px;
    object-fit: scale-down;
    min-height: 10vh;
}

.loader.active ,.splashScreen.active {
    opacity: initial;
    pointer-events: initial;
    will-change: opacity;
}

/*----------------------------- end loader -----------------------------*/


/*----------------------------- start global responsive -----------------------------*/
@media only screen and (min-width: 768px) {
    .mobile {
        display:none!important;
    }
}
@media only screen and (max-width: 767px) {
    .desktop {
        display: none!important;
    }
    .mw-mobile-100{
        max-width: 767px;
        width: 100%;
    }
    .scrollbar-track-y {
        display: none!important;
    }
    header {
        height: 6rem;
        padding: 0 1.5rem!important;
    }
    .con-tab{
        border:none;
    }
    .con-dropdown-wrapper * {
        font-size: 1.8rem;
    }
    .con-dropdown-header{
        padding: 0.7rem 1.3rem;
        padding-right: 2.8rem;
        border-radius: 1.5rem;
    }
    .con-dropdown-header:after{
        font-size:1.5rem;
        top: calc(1.2rem);
        right: 1.5rem;
    }
    .con-dropdown-wrapper.active .con-dropdown-header {
        padding-bottom: 2rem;
        margin-bottom: -1.3rem;
    }
    .con-dropdown-options {
        top: calc(80%);
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }

    .header-title{
        font-size: 2.2rem;
    }
    .header-icon {
        color: #fff;
        font-size: 1.5rem;
        margin-right: 1rem;
        vertical-align: middle;
    }
    main {
        margin-top: 6rem;
        height: calc(100% - 6rem);
    }
    .under-header-card {
        padding: 1rem 2.6rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
    .under-header-icon {
		font-size: 3.5rem;
	}
    .under-header-title{
        font-size:2rem;
    }
}

@media only screen and (max-width: 592px) {
    /*body,html {*/
    /*    font-size: 7.5px;*/
    /*}*/
}

@media only screen and (max-width: 425px) {
    /*body,html {*/
    /*    font-size: 6.5px;*/
    /*}*/
    .saison-banner:after {
        font-size:2.4rem;
    }
}

@media only screen and (max-width: 375px) {
    /*body,html {*/
    /*    font-size: 5.5px;*/
    /*}*/
}

/*----------------------------- end global responsive -----------------------------*/
/*----------------------------- start transition -----------------------------*/
.push-enter-active {
    /*animation: fade-in .333s linear;*/
}

.push-leave-active {
    /*animation: fade-out .333s linear;*/
}

.pop-enter-active {
    /*animation: bounce-in .3s linear;*/
}

.pop-leave-active {
    /*animation: fade-in .3s reverse linear;*/
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes fade-in {
  0% {
    width:100%;
    position: fixed;
    top: 0;
    left:0;
    transform: translateX(100%);
  }
  50% {
    width:100%;
    position: fixed;
    top: 0;
    left:0;
    transform: translateX(50%);
  }
  100% {
    width:100%;
    position: fixed;
    top: 0;
    left:0;
    transform: translateX(0);
  }
}
@keyframes fade-out {
  0% {
    width:100%;
    position: fixed;
    top: 0;
    left:0;
    transform: translateX(0);
  }
  50% {
    width:100%;
    position: fixed;
    top: 0;
    left:0;
    transform: translateX(-50%);
  }
  100% {
    width:100%;
    position: fixed;
    top: 0;
    left:0;
    transform: translateX(-100%);
  }
}

/*----------------------------- end transition -----------------------------*/

/*----------------------------- start login --------------------------------*/
div#login {
    justify-content: space-between;
    min-height: 100%;
    height: auto!important;
}

.login-logo-wrapper {
    margin-top: 5rem;
    margin-bottom: 8rem;
}

.login-form {
    max-width: 52.5rem;
    margin: 0rem auto;
}

.login-form-group {
    margin-bottom: 3.5rem;
}

.login-title-text {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.login-input {
    padding: 1.8rem 3.2rem;
    font-size: 2.5rem;
    border-radius: 2rem;
}

input.login-input::-webkit-input-placeholder {
    color: #afafaf;
    opacity: 1;
}

input.login-input::-moz-placeholder {
    color: #afafaf;
    opacity: 1;
}

input.login-input:-ms-input-placeholder {
    color: #afafaf;
    opacity: 1;
}

input.login-input::-ms-input-placeholder {
    color: #afafaf;
    opacity: 1;
}

input.login-input::placeholder {
    color: #afafaf;
    opacity: 1;
}

button#login-btn {
    width: 25rem;
    margin: 0rem auto;
}

img.login-screen-footer{
    width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    .login-logo-wrapper {
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
    }
    .login-saison-logo{
        width: 30%;
        min-width: 12rem;
        margin-top: 3.5rem;
    }
    .login-form-group {
        margin-bottom: 1rem;
    }
    .login-title-text {
        font-size: 1.8rem;
        margin-bottom: 0.6rem;
    }
    .login-input {
        padding: 1.3rem 2rem;
        font-size: 1.8rem;
        border-radius: 1rem;
    }
    button#login-btn {
        width: 17rem;
        border-radius: 1rem;
        font-size:2rem;
        margin: 0rem auto;
    }
}

/*----------------------------- end login --------------------------------*/

/*----------------------------- start menu --------------------------------*/
div#menu {
    justify-content: space-between;
    min-height: 100%;
    height: auto!important;
}

button#menu-logout-btn {
    position: absolute;
    right: 0;
    top: 0;
    background: #0e57a5;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    transform: translate(20%,-15%);
    padding-top: 0.5rem;
    padding-right: 1.5rem;
}

img.logout-icon {
    width: 3.5rem;
}

.logout-text {
    position: absolute;
    color: #0e57a5;
    font-size: 2.2rem;
    width: 12rem;
    left: -1rem;
    transform: translate(-100%,0.3rem);
}

img.menu-text-logo.desktop {
    width: 100%;
    margin-top: 9rem;
    margin-bottom: 7rem;
}

.menu-text-logo.mobile {
    display: block;
    width: 100%;
    max-width: 26rem;
    margin: auto;
    margin-top: 3.7rem;
    margin-bottom: 4.7rem;
}

section#menu-content {
    max-width: 600px;
}

.menu-card {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 3.7rem;
    border-radius: 2rem;
}

.menu-icon {
    width: 10rem;
    height: 10rem;
    background: #00A651;
    border-radius: 50%;
    box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.3);
}

.menu-icon-img {
    color: #fff;
}

.icon-menu-transactionlist:before {
    content: "\e91a";
    font-size: 5.1rem;
}
.icon-menu-creditlist:before {
    content: "\e902";
    font-size: 4rem;
}

.menu-text {
    color: #fff;
    font-size: 3.8rem;
    font-weight: 400;
    margin-left: 6rem;
}

.menu-noti {
    text-align: center;
    color: #fff;
    background: #e52f1e;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 50%;
    margin-bottom: -0.5rem;
    margin-left: 2rem;
}

img.menu-saison_credit-logo {
    width: 12rem;
    margin-left: 1.8rem;
}

img.menu-screen-footer{
    width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    section#menu-content {
        width: calc(100% - 7rem);
        min-width: 300px;
        max-width: 450px;
        padding: 0;
    }
    .menu-card {
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        padding-left: 2rem;
    }
    .menu-icon {
        width: 5.8rem;
        height: 5.8rem;
    }
    .menu-icon-img {
        font-size: 2.5rem;
    }
    .icon-menu-transactionlist:before {
		font-size: 3rem;
	}
	.icon-menu-creditlist:before {
		font-size: 2.3rem;
	}
    .menu-text {
        font-size: 2.6rem;
        margin-left: 8rem;
    }
    .menu-noti {
        width: 2.4rem;
        height: 2.4rem;
        font-size: 1.5rem;
        margin-bottom: -0.1rem;
        margin-left: 2rem;
    }
    img.menu-saison_credit-logo {
        width: 8rem;
        margin-left: 3rem;
    }
}

@media (max-width: 500px) {
    section#menu-content {
        max-width: 350px;
    }
    .menu-text {
        font-size: 2.2rem;
        font-weight: 300;
        margin-left: 4.5rem;
    }
    .menu-noti {
        width: 2.4rem;
        height: 2.4rem;
        font-size: 1.5rem;
        font-weight: 400;
        margin-left: 1rem;
    }
    img.menu-saison_credit-logo {
        width: 6rem;
        margin-left: 1rem;
    }
}

@media (max-width: 474px) {
    section#menu-content {
        max-width: 320px;
    }
    .menu-text {
        margin-left: 2.5rem;
    }
}
/*----------------------------- end menu --------------------------------*/
/*----------------------------- start creditlist --------------------------------*/
.under-header-credit-icon {
    font-size: 3rem;
    color: #328FEC;
    margin-right: 3.5rem;
    align-self: center;
}
.credit-id-display {
    color: #afafaf;
    font-size: 1.8rem;
}

.credit-card-number {
    font-size: 2.4rem;
    font-weight: 400;
    color: #021f40;
}

section#creditlist-content {
    padding: 0 4rem;
    margin-top: 1.5rem;
}

.creditlist-slide-item {
    display: block;
    position: relative;
    flex-direction: inherit;
    border: none;
    border-radius: 20px;
    box-shadow: 0 15px 20px 0 rgba(56, 56, 56, 0.15);
    padding: 3rem 5rem;
    width: 90%;
    max-width: 73rem;
    margin: 0 auto;
    overflow: hidden;
}
.creditlist-slide-item-bg {
    right: -8rem;
    bottom: -13rem;
}
.creditlist-slide-item-bg-elem-1 {
	width:41rem;
	height:41rem;
	border-radius:50%;
	background: #0575e6;
	box-shadow: 0 15px 20px 0 rgba(56, 56, 56, 0.15);
}
.creditlist-slide-item-bg-elem-2 {
	position:relative;
	left:50%;
	top:50%;
	width:27rem;
	height:27rem;
	border-radius:50%;
	box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.35);
  	background: #0e57a5;
  	transform: translate(-50%,-50%);
}
.creditlist-slide-item-bg-elem-3 {
	position:relative;
	left:50%;
	top:50%;
    width: 14rem;
    height: 14rem;
	border-radius:50%;
	box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.35);
  	background: #0575e6;
  	opacity: 0.36;
  	transform: translate(-50%,-50%);
}
.creditlist-slide-item > * {
    /*width: 100%;*/
}

.creditlist-slide-item .detail .detail-row {
    padding-right: 1rem;
}

.creditlist-slide-item .detail .detail-row .title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.creditlist-slide-item .detail .detail-row .title-wrapper .title img {
    position: absolute;
    height: 2.8rem;
    width: 2.6rem;
    object-fit: scale-down;
    object-position: center;
}

.creditlist-slide-item .detail .detail-row .title-wrapper .title span {
    font-size: 2rem;
    margin-left: 5rem;
    color: #000;
}

.creditlist-slide-item .detail .detail-row .title-wrapper .unit {
    color: #afafaf;
    font-size: 1.6rem;
}

.creditlist-slide-item .detail .detail-row .money {
    font-size: 2.8rem;
    font-weight: 500;
    color: #383838;
    text-align: right;
}
.saison-credit-card {
    background: #0e57a5;
}
.saison-credit-card div {
    color:#fff;
}
.saison-credit-card .middle-horizontal-line{
    border-color:#fd5959;
    margin-top: 4rem!important;
}
.credit-card-title {
    font-size: 4rem;
}
.saison-creditcard-logo {
    width: 17rem;
}
.credit-line-detail {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.credit-line-detail-title {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.credit-line-detail-amount {
    font-size: 4rem;
    margin-right: 1rem;
    font-weight: 500;
}

.credit-line-detail-unit {
    color: #afafaf;
    font-size: 2.4rem;
    font-weight: 300;
    margin-left: 1rem;
}
@media (max-width: 767px) {
    .under-header-credit-icon {
        font-size: 2.3rem;
        margin-right: 2rem;
    }
    .credit-id-display {
        color: #afafaf;
        font-size: 1.6rem;
    }

    .credit-card-number {
        font-size: 2.4rem;
        font-weight: 400;
        color: #021f40;
    }
    section#creditlist-content {
        padding: 0 1rem;
    }
    .transaction-list-item {
        padding: 2.5rem 15px;
    }
    .transactionbill-detail{
        flex-wrap:wrap;
        padding-left: 15px;
        padding-right: 15px;
    }
    .creditlist-slide-item{
        width:92%;
        padding: 2.4rem 3.2rem;
    }
    .saison-creditcard-logo {
        width: 13.5rem;
    }
    .saison-credit-card .middle-horizontal-line {
        margin-top: 1.4rem!important;
        margin-bottom: 2.4rem!important;
    }
    .credit-card-title{
        font-size:3rem;
    }
    .credit-line-detail-title {
        font-size: 2rem;
    }
    .credit-line-detail-amount {
        font-size: 3rem;
    }
    .credit-line-detail-unit {
        font-size: 1.6rem;
    }
}
/*----------------------------- end creditlist --------------------------------*/
/*----------------------------- start transactionlist --------------------------------*/
section#transactionlist-content {
    padding-left: 0;
    padding-right: 0;
    overflow-x:hidden;
    min-height: calc(100% - 100px);
}
.transactionlist-filter {
    position: relative;
    padding: 0 3rem;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    /*overflow-x:scroll;*/
    /*overflow-y:hidden;*/
    /*flex-wrap: unset;*/
    z-index:10;
}
.transactionlist-filter-title {
    font-size: 2.2rem;
    font-weight: 400;
    color: #003c8f;
    margin-bottom: 1.5rem;
}
.selectize-input input {
    display: none;
}
.selectize-input, select{
    padding: 1.2rem 1.7rem;
    background:#fff;
    border:0.1rem solid #003c8f;
    border-radius: 2rem;
    box-shadow: 0 10px 15px 0 rgba(2, 31, 64, 0.2);
}
.selectize-input *,
.selectize-dropdown *, select{
    font-size: 2.4rem;
    font-weight: 400;
    color:#000;
}
.transactionlist-title-wrapper {
    display: flex;
}
.transactionlist-title{
    font-size: 2rem;
    font-weight:400;
    color:#000;
}
.transactionlist-col-1 .transactionlist-title{
    margin-left: 2rem;
}
.transactionlist-col-1 {
    width: 38%;
}
.transactionlist-col-2 {
    width: 22%;
}
.transactionlist-col-3 {
    width: 21%;
}
.transactionlist-col-4 {
    width: 20%;
}
.transactionlist-col-1,
.transactionlist-col-2,
.transactionlist-col-3,
.transactionlist-col-4{
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.transactionlist-item {
    display: flex;
    align-items: stretch;
    background: #fff;
    padding-top: 0.75rem;
    padding-bottom: 1.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
}
.transactionlist-item .transactionlist-col-1,
.transactionlist-item .transactionlist-col-2,
.transactionlist-item .transactionlist-col-3{
    border-right: 2px dashed #003c8f80;
}
.transactionlist-icon {
    font-size: 5.2rem;
    position:relative;
}
.transactionlist-datetime {
    font-size: 1.8rem;
    color: #afafaf;
}
.transactionlist-type {
    font-size: 2rem;
    font-weight: 400;
}
.transactionlist-id {
    font-size: 2rem;
    font-weight: 400;
    color: #000;
}
.transactionlist-price {
    font-size: 2.4rem;
    font-weight: 500;
    color:#000;
    margin-left: 0.5rem;
}
.transactionlist-price-unit {
    margin-right: 2.2rem;
}
.transactionlist-status-text {
    font-size: 2rem;
    font-weight: 400;
}
.transactionlist-payment {
    width: 100%;
    text-align:center;
    font-size: 2rem;
    font-weight: 400;
    color: #000;
}
.transactionlist-status-wrapper {
    display: flex;
    align-items: center;
}
.transactionlist-status-1,
.transactionlist-status-2,
.transactionlist-status-3,
.transactionlist-status-4{
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    border: 2px solid;
    border-radius: 50%;
    color:#afafaf;
}
.transactionlist-status-2,
.transactionlist-status-3,
.transactionlist-status-4{
    margin-left:1.6rem;
}
.transactionlist-status-2::before,
.transactionlist-status-3::before,
.transactionlist-status-4::before{
    content:" ";
    position: absolute;
    left: -2px;
    top: 50%;
    display: block;
    width: 1.6rem;
    height:1px;
    border-top: 2px solid;
    transform: translate(-100%,-50%);
}
#creditlist-back{height:6rem;}

@media (min-width: 768px) {
    .transactionlist-filter {
        transform:none!important;
    }
}
@media (max-width: 767px) {
    .transactionlist-filter-title {
        font-size: 2rem;
    }
    .transactionlist-filter {
		display: inline-block;
		overflow-x: visible;
		overflow-y: visible;
		white-space: nowrap;
		padding: 0 2rem;
		padding-top: 1rem;
		padding-bottom: 2.5rem;
	}
	.transactionlist-filter-item {
	    display: inline-block;
	    min-width: 175px;
	    width: calc(33.33vw - 1rem);
	}
	.selectize-input {
    	padding: 0.7rem 1.5rem;
	}
	.selectize-input *,
	.selectize-dropdown *{
		font-size: 2rem;
	}
    .transactionlist-item {
        flex-wrap:wrap;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        border-top: 5px solid #074a9d;
        border-radius: 5px;
        margin-bottom: 2rem;
    }
    .transactionlist-col-1{
        padding-left: 0.6rem;
        padding-right: 0rem;
        padding-bottom: 1rem;
    }
    .transactionlist-col-2{
        padding-left: 0rem;
        padding-right: 0rem;
        padding-bottom: 1rem;
     }
    .transactionlist-col-3,
    .transactionlist-col-4{
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .transactionlist-col-1, .transactionlist-col-2 {
        width: 100%;
    }
    .transactionlist-col-3, .transactionlist-col-4 {
        width: 50%;
    }
    .transactionlist-item .transactionlist-col-3{
        border-right: 2px dashed #003c8f80;
    }
    .transactionlist-item .transactionlist-col-1,
    .transactionlist-item .transactionlist-col-2 {
        border-right: none;
        border-bottom: 2px dashed #003c8f80;
        margin-bottom: 1rem;
    }
    .transactionlist-icon {
        font-size: 4.5rem;
    }
    .transactionlist-datetime {
        font-size: 1.8rem;
        margin-bottom:-0.5rem;
    }
    .transactionlist-status-text {
        font-size: 1.8rem;
    }
    .transactionlist-payment {
        margin-left:2rem;
        text-align:left;
        font-size: 1.8rem;
    }
}
.waiting .icon-transaction-status:before{
	content: "\e90b";
}
/*.waiting .transactionlist-status-text:before {*/
/*    content: "รอการยืนยัน";*/
/*}*/
.waiting .transactionlist-icon,
.waiting .transactionlist-type,
.waiting .transactionlist-status-text,
.waiting .transactionlist-status-1,
.waiting .transactionlist-status-2,
.waiting .transactionlist-status-3,
.waiting .transactionlist-status-4:before{
    color:#0e57a5;
}
.waiting .transactionlist-status-1{
    background:#0e57a5;
}
.waiting .transactionlist-status-4{
    color:#00a651;
}

.prepare .icon-transaction-status:before{
	content: "\e90c";
}
/*.prepare .transactionlist-status-text:before {*/
/*    content: "รอวันจัดส่ง";*/
/*}*/
.prepare .transactionlist-icon,
.prepare .transactionlist-type,
.prepare .transactionlist-status-text,
.prepare .transactionlist-status-1,
.prepare .transactionlist-status-2,
.prepare .transactionlist-status-3,
.prepare .transactionlist-status-4:before{
    color:#0e57a5;
}
.prepare .transactionlist-status-1,
.prepare .transactionlist-status-2{
    background:#0e57a5;
}
.prepare .transactionlist-status-4{
    color:#00a651;
}

.delivering .icon-transaction-status:before{
	content: "\e90f";
}
/*.delivering .transactionlist-status-text:before {*/
/*    content: "พร้อมจัดส่ง";*/
/*}*/
.delivering .transactionlist-icon,
.delivering .transactionlist-type,
.delivering .transactionlist-status-text,
.delivering .transactionlist-status-1,
.delivering .transactionlist-status-2,
.delivering .transactionlist-status-3,
.delivering .transactionlist-status-4:before{
    color:#0e57a5;
}
.delivering .transactionlist-status-1,
.delivering .transactionlist-status-2,
.delivering .transactionlist-status-3{
    background:#0e57a5;
}
.delivering .transactionlist-status-4{
    color:#00a651;
}

.complete .icon-transaction-status:before{
	content: "\e901";
}
/*.complete .transactionlist-status-text:before {*/
/*    content: "เสร็จสิ้น";*/
/*}*/
.complete .transactionlist-icon,
.complete .transactionlist-type,
.complete .transactionlist-status-1,
.complete .transactionlist-status-2,
.complete .transactionlist-status-3,
.complete .transactionlist-status-4:before{
    color:#0e57a5;
}
.complete .transactionlist-status-text{
	color:#00a651;
}
.complete .transactionlist-status-1,
.complete .transactionlist-status-2,
.complete .transactionlist-status-3{
    background:#0e57a5;
}
.complete .transactionlist-status-4{
    color:#00a651;
    background:#00a651;
}

.paid .icon-transaction-status:before{
	content: "\e901";
}
/*.paid .transactionlist-status-text:before {*/
/*    content: "ชำระเสร็จสิ้น";*/
/*}*/
.paid .transactionlist-icon,
.paid .transactionlist-type,
.paid .transactionlist-status-1,
.paid .transactionlist-status-2,
.paid .transactionlist-status-3,
.paid .transactionlist-status-4:before{
    color:#0e57a5;
}
.paid .transactionlist-status-text{
	color:#00a651;
}
.paid .transactionlist-status-1,
.paid .transactionlist-status-2,
.paid .transactionlist-status-3{
    background:#0e57a5;
}
.paid .transactionlist-status-4{
    color:#00a651;
    background:#00a651;
}
.paid .transactionlist-status-4{
	width:2.7rem;
	height:2.7rem;
	font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.paid .transactionlist-status-4:after{
	content: "\e920";
	position:absolute;
	left:50%;
	top: calc(50% + 0.1rem);
	transform:translate(-50%,-50%);
	color:#fff;
	font-size: 1.1rem;
}

.overlimit .icon-transaction-status:before{
	content: "\e90d";
}
/*.overlimit .transactionlist-status-text:before {*/
/*    content: "เกินวงเงิน";*/
/*}*/
.overlimit .transactionlist-icon,
.overlimit .transactionlist-type,
.overlimit .transactionlist-status-text{
	color:#fd5959;
}
.overlimit .transactionlist-status-1{
    color:#0e57a5;
}
.overlimit .transactionlist-status-1{
    background:#0e57a5;
}
.overlimit .transactionlist-status-2{
    color:#fd5959;
    background:#fd5959;
}
.overlimit .transactionlist-status-3, .overlimit .transactionlist-status-4:before{color: #afafaf;}
.overlimit > .transactionlist-col-4 {flex-direction: column;}
.overlimit .transactionlist-tag{
    border-radius: 10px;
    background-color: #fd5959;
    color: #fff;
    font-size: 20px;
    padding: 0 10px;
}

/*.denide .transactionlist-status-text:before {*/
/*    content: "ไม่อนุมัติ";*/
/*}*/
.denide .icon-transaction-status:before{
	content: "\e90e";
}
.denide, .denide *{
	color: #707070;
	background: #f2f2f2;
	border-color: #afafaf!important;
}
.denide .transactionlist-status-1,
.denide .transactionlist-status-2,
.denide .transactionlist-status-3,
.denide .transactionlist-status-4{
    color:#afafaf;
    background:#fff;
}
.denide .transactionlist-status-1,
.denide .transactionlist-status-2{
    background:#afafaf;
}
.denide .transactionlist-status-4:before{color: #afafaf;}
.denide .transactionlist-icon.icon-transaction-status,.denide .transactionlist-type, 
.denide .transactionlist-status-text, .denide .transactionlist-datetime{color: #707070;}

.complete .transactionlist-status-text, .paid .transactionlist-status-text{color:#00a651;}
.transactionlist-payment.unspecified{color:#d1d1d1;}
input#transaction_list_search {
    border-radius: 1rem;
}
/*----------------------------- end transactionlist --------------------------------*/
/*----------------------------- start transactiondetailt --------------------------------*/
.transaction-detail-status {
    display: flex;
    justify-content: space-between;
    text-align: center;
    transform: translateY(-2.5rem);
}
.under-header-creditid {
    color: #003c8f;
    font-size: 3rem;
    font-weight: 400;
}

.under-header-shopname {
    font-size: 2rem;
    color: #000;
    font-weight: 400;
}
.transaction-detail-info-icon {
    color: #328fec;
    font-size: 2.4rem;
    text-align: center;
    padding-top: 0.5rem;
}

.transaction-detail-title {
    font-size: 2.4rem;
    font-weight: 400;
    color: #000;
}

.transaction-detail-description {
    font-size: 2rem;
    color: #383838;
}

.subunit {
    font-size: 1.8rem;
    color: #909090;
}

.transaction-detail-subprice {
    font-size:2.4rem;
    color:#383838;
    font-weight:400;
}

.transaction-detail-subtitle {
    font-size: 2rem;
    font-weight: 400;
    color: #383838;
}

.unit {
    font-size: 2rem;
    font-weight: 300;
    color: #909090;
}

.transaction-detail-price {
    font-size: 2.4rem;
    font-weight: 500;
    color: #383838;
}
.transaction-detail-fixed-title-width {
    width: 9rem;
}

.transaction-detail-fixed-subtitle-width {
    width: 9rem;
}

.transaction-detail-price-summary {
    border-radius: 1rem;
    background-color: #e7f3ff;
    margin: 0rem;
    margin-right: -1.5rem;
    padding: 1rem 0rem;
    padding-right: 1.5rem;
    border: 1px solid #328fec;
}

.transaction-detail-price-summary .transaction-detail-subtitle {
    color: #003c8f;
}

.transaction-detail-price-summary .unit {
    
}

.transaction-detail-price-summary .transaction-detail-price {
    color: #00a651;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.transaction-detail-price-summary .payment-type-price{
    font-size: 2.4rem;
}
.transaction-detail-info  {
    position: relative;
    padding: 1rem 0;
}
.transaction-detail-info > div {
    padding: 0rem 2rem;
}
.transaction-detail-status-icon {
    display: flex;
    margin: auto;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    color: #0e57a5;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
}

.transaction-detail-status-icon.icon-DS_Wait {
    font-size: 2.4rem;
}

.transaction-detail-status-icon.icon-DS_Prepared {
    font-size: 2.4rem;
}

.transaction-detail-status-icon.icon-Ds_Dalivering {
    font-size: 2rem;
}

.transaction-detail-status-icon.icon-DS_Credit {
    font-size: 2rem;
}
.transaction-detail-status-text {
    font-size: 2rem;
    color: #000;
    font-weight: 400;
}
.transaction-detail-status-item{
    position:relative;
    z-index:2;

}
.transaction-detail-status-item:before {
    content:"";
    position:absolute;
    top:2.5rem;
    left:calc(50% + 2.5rem);
    width: 30rem;
    border-top: 3px solid #d1d1d1;
    z-index:1;
}
.transaction-detail-status-item:last-child:before {
    content:none;
    display:none;
}
.transaction-detail-status-item.active .transaction-detail-status-icon{
	color: #fff;
    background: #0e57a5;
}
.transaction-detail-status-item.active .transaction-detail-status-text{
	color: #0e57a5;
}
.transaction-detail-status-item.active:before{
	border-color: #0e57a5;
}
.transaction-detail-confirm-text {
    font-size: 2.4rem;
}

.transaction-detail-confirm-icon {
    font-size: 2.4rem;
}
.transaction-detail-mobile-date-icon {
    color: #328fec;
    font-size: 2rem;
}

.transaction-detail-mobile-date {
    font-size: 2rem;
    font-weight: 500;
    color: #3c3c3c;
}
.transaction-logistic-col-1 {
    width: 5rem;
}


/* Color */
.transaction-detail-status-item.active > .overlimit-txt{color:#fd5959;}
.transaction-detail-status-item.active > .overlimit-icon:before{content: "\e91f";}
.transaction-detail-status-item.active > .transaction-detail-status-icon.overlimit-icon{background:#fd5959;font-size: 1.5rem;}
.transaction-detail-status-item.active > .finish-txt{color:#00a651;}
.transaction-detail-status-item.active > .transaction-detail-status-icon.finish-icon, .transaction-detail-status-item.active > .complete-icon{background:#00a651;}
.transaction-detail-status-item.active > .complete-icon:before{content: "\e919";}
/*.transaction-detail-status-item.active > .transaction-detail-status-icon.confirm-icon{background:#00a651;}*/
.transaction-detail-status-item.active > .confirm-icon:before{content:"\e925";}
.box-back-to-list{position: fixed;left: 50%;bottom: 0;width: 100%;padding: 3rem 2.5rem;transform: translateX(-50%);text-align: center;}
.btn-backToList{    
    border-radius: 2rem;
    box-shadow: 0 15px 20px 0 rgba(2, 31, 64, 0.2);
    background-color: #0e57a5;
    color: #fff;
    border: none;
    font-size: 2.6rem;
    padding: 1rem 3rem;
}
.btn-backToList > i{font-size:20px;margin-right: 15px;}
.box-delivered{position: fixed;left: 50%;bottom: 0;width: 100%;padding: 3rem 2.5rem;transform: translateX(-50%);text-align: right;}
.btn-delivered{    
    border-radius: 2rem;
    box-shadow: 0 15px 20px 0 rgba(2, 31, 64, 0.2);
    background-color: #00a651;
    color: #fff;
    border: none;
    font-size: 2.6rem;
    padding: 1rem 3rem;
}
.btn-delivered > i{font-size:20px;margin-right: 15px;}
.box-confirmList{position: fixed;left: 50%;bottom: 0;width: 100%;padding: 3rem 2.5rem;transform: translateX(-50%);text-align: right;justify-content: flex-end;display: flex;}
.btn-confirmList{
    border-radius: 2rem;
    box-shadow: 0 15px 20px 0 rgba(2, 31, 64, 0.2);
    background-color: #00a651;
    color: #fff;
    border: none;
    font-size: 2.6rem;
    padding: 1rem 3rem;
    display: flex;
    align-items:center;
}
.btn-confirmList > i{font-size:30px;margin-right: 15px;}
.transactionlist-no-data{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50px);
    text-align:center;
}
.transactionlist-no-data i{font-size:25rem;}
.transactionlist-no-data p{font-size: 28px;text-align:center;color:#afafaf;}
.waiting .process-icon-confirm:before{content:"\e924";}
.transaction-detail-num{font-size: 24px;font-weight:500;}
.transaction-detail-txt{font-size:20px;font-weight:300;}
.noti-active{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    right: 0;
    top: 4px;
}
/* Popup overlimit in transaction detail */
.popup-overlimit{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    z-index: 1;
    top: 0;
}
.popup-overlimit-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 65%;
    height: auto;
    border-radius: 15px;
    padding:30px;
    text-align:center;
}
.popup-overlimit-box > .title{font-size:33px;color:#e52f1e;text-align:center;margin-bottom: 30px;}
.popup-overlimit-box > .info{font-size:20px;text-align:center;color:#383838;padding:0 7rem;}
.popup-overlimit-box > .tel{font-size:20px;text-align:center;color:#383838;}
.popup-overlimit-box > .tel > a {text-decoration: underline;color: #328fec;}
.popup-overlimit-btn-confirm{
    border-radius: 20px;
    box-shadow: 0 15px 20px 0 rgba(2, 31, 64, 0.2);
    background-color: #0e57a5;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    width: 50%;
    margin-top: 30px;
}
.popup-overlimit-btn-confirm > i{float: right;line-height: unset;}


/* Payment detail */
.payment-detail-card-title{
    margin-top: 2rem;
    border-radius: 10px;
    padding: 1.5rem 3rem;
    justify-content: space-between;
    font-size: 24px;
    border: 1px solid #d1d1d1;
}
.payment-detail-in-card-type{font-size: 2.4rem;font-weight: 400;}
.payment-detail-in-card-credit{font-size: 2.4rem;color: #0e57a5;font-weight: 400;}
.payment-detail-in-card-img{width:100px;}
.payment-detail-box-btn-confirm{position: fixed;left: 50%;bottom: 0;width: 100%;padding: 3rem 2.5rem;transform: translateX(-50%);display: flex;justify-content: flex-end;}
.btn-confirm-payment-detail{
    background-color: #00a651;
    color: #fff;
    box-shadow: 0 15px 20px 0 rgba(2, 31, 64, 0.2);
    border-radius: 20px;
    font-size: 26px;
    width: 40%;
    min-width: 16rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-confirm-payment-detail > i{margin-right: 2.5rem;font-size: 30px;}
.payment-detail-text-title{
    font-size: 2.4rem;
    font-weight: 500;
    padding: 1.5rem 1.5rem 0;
}
.payment-detail-content-left1{
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
}



@media (max-width: 1199px) {
    .transaction-detail-status-item:before {
        width: 25rem;
    }
}
@media (max-width: 991px) {
    .transaction-detail-status-item:before {
        width: 17rem;
    }
}
@media (max-width: 767px) {
	.transaction-detail-status-item:before {
        width: 23vw;
    }
    .under-header-creditid {
		font-size: 2rem;
	}
	.under-header-shopname {
		font-size: 1.6rem;
	}
    .transaction-detail-status-text {
    	font-size: 1.4rem;
    }
    .transaction-detail-info > div {
		padding: 0rem 1.5rem;
	}
    .transaction-detail-info-icon {
		font-size: 2rem;
		width: 5rem;
	}
    .transaction-detail-title {
		font-size: 2rem;
	}

	.transaction-detail-description {
		font-size: 1.8rem;
	}

	.subunit {
		font-size: 1.6rem;
	}

	.transaction-detail-subprice {
		font-size: 2rem;
	}

	.transaction-detail-subtitle {
		font-size: 1.8rem;
	}

	.unit {
		font-size: 1.6rem;
	}

	.transaction-detail-price {
		font-size: 2rem;
	}

	.transaction-detail-price-summary .transaction-detail-price {
    	font-size: 2.4rem;
 	}
 	.transaction-detail-price-summary {
		margin: 0 -1.5rem;
		padding: 1rem 1.5rem;
	}
	button.transaction-detail-confirm-btn{
		border-radius:1rem;
		padding-left:1.75rem!important;
		padding-right:1.75rem!important;
	}
	.transaction-detail-confirm-text {
		font-size: 2rem;
	}

	.transaction-detail-confirm-icon {
		font-size: 2rem;
	}
	.popup-overlimit-box{width: 90%;}
	.popup-overlimit-box > .title{font-size:26px;margin-bottom:20px;}
	.popup-overlimit-box > .info{font-size:18px;padding: 0 1rem;}
	.popup-overlimit-box > .tel{font-size:18px;}
	.popup-overlimit-btn-confirm{border-radius: 10px;}
	
	.btn-backToList, .btn-delivered, .btn-confirmList{font-size: 1.8rem;}
	.btn-backToList > i, .btn-delivered > i, .btn-confirmList > i{font-size:1.8rem;}
	.transactionlist-no-data i{font-size: 17rem;}
	.transactionlist-no-data p{font-size:2rem}
    .transactionlist-wrapper{padding:1.5rem;}
    .transaction-detail-num{font-size:16px;font-weight:500;}
    .transaction-detail-txt{font-size:16px;font-weight:300;}
    .under-header-location{font-size:1.4rem;}
}
@media (max-width: 430px) {
	.transaction-detail-status-item:before {
        width: 20vw;
    }
}
/*----------------------------- end transactiondetailt --------------------------------*/
/*----------------------------- start paymentselection --------------------------------*/
img.dropdown-saison-img {
    width: 7rem;
    margin: -1rem 0;
}
.payment-select-card {
    display: inline-block;
    width: 220px;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow .2s ease;
}
.saison-ng-card {
    margin-top: -2rem;
    padding-top: 3rem;
    padding-left: 5.5rem;
    padding-bottom: 1.5rem;
    background: #ffd9d9;
}
.payment-select-card.active {
    border: 3px solid #00a651;
    box-shadow: none;
}
.payment-period-detail-col-1 {
    width: 5rem;
    text-align: center;
}

.payment-period-detail-col-2 {
    width: 8rem;
}

.payment-period-detail-col-3 {
    width: 8rem;
}
.payment-period-detail-col-4 {
    width: 12rem;
    text-align: right;
}

.payment-period-detail-col-5 {
    width: 12rem;
    text-align: right;
}
.payment-selection-shop-item.active {
    border:3px solid #00a651;
}

@media (max-width: 767px){
    .payment-select-card {
        margin-right: 1.5rem;
    }
    .payment-period-detail-col-4 {
        width: 11rem;
    }
    .payment-period-detail-col-5 {
        width: 9rem;
    }
}
@media (max-width: 425px) {
    .payment-period-detail-col-1 {
        width: 3rem;
    }
    .payment-period-detail-col-2-2{
        width: 100%;
    }
    .payment-period-detail-col-2-3{
        display:none;
    }
    .payment-period-detail-col-3 {
        width: 7rem;
    }
    .payment-period-detail-col-4 {
        width: 11rem;
    }
    .payment-period-detail-col-5 {
        width: 9rem;
    }
    .payment-period-detail-saisonlogo{
        display:none;
    }
}
/*----------------------------- end paymentselection --------------------------------*/
/*-------------------------------- start jvlogin ------------------------------------*/
.con-jv-container{
    margin: auto;
    width: calc(100% - 4rem);
    max-width: 75rem;
}
.con-app-password {
    display: flex;
    justify-content: center;
    margin: auto;
    width: calc(100% - 4rem);
    max-width: 75rem;
    height: 9rem;
    background: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
}
.con-app-password.active {
    border: 1px solid #d1d1d1;
}
.con-app-password span {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    /*margin: 0 2rem;*/
    background: #d1d1d1;
    border-radius: 50%;
    align-self: center;
}

.con-app-password span.active {
    background: #000000;
}
.con-app-password-input-wrapper {
    display: flex;
    justify-content: space-between;
    min-width: 265px;
}
.con-app-password-input{
    min-width: 265px;
    width:265px;
}
#jv-password {
    pointer-events: none;
    opacity: 0;
    margin: auto;
    margin-top: -3rem;
}
.saison-aura{
    box-shadow: 0 5px 3rem 0 #007ad3;
}
.con-app-password.active{
    box-shadow: 0 5px 3rem 0 #000e26;
}
.jv-login-title,.con-app-password-input{
    font-size:3rem;
}
.con-app-password.disabled {
    background: #afafaf;
    box-shadow: none;
    pointer-events:none;
}
.con-app-password.disabled span {
    background: #d1d1d1;
}
@media (max-width: 767px) {
    .con-app-password span {
        width: 0.8rem;
        height: 0.8rem;
    }
    .jv-login-title{
        font-size:2rem;
    }
    .con-app-password-input{
        font-size:2.5rem;
    }
    .con-app-password {
        height:6rem;
    }
    .con-app-password-input-wrapper {
        min-width: 155px;
    }
    .con-app-password-input{
        min-width: 155px;
        width:155px;
    }
}
/*--------------------------------- end jvlogin -------------------------------------*/