/* thai */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 300;
  src: local('Pridi Light'), local('Pridi-Light'), url(https://fonts.gstatic.com/s/pridi/v3/2sDdZG5JnZLfkc02i30wT0CEAg.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 300;
  src: local('Pridi Light'), local('Pridi-Light'), url(https://fonts.gstatic.com/s/pridi/v3/2sDdZG5JnZLfkc02i30rT0CEAg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 300;
  src: local('Pridi Light'), local('Pridi-Light'), url(https://fonts.gstatic.com/s/pridi/v3/2sDdZG5JnZLfkc02i30qT0CEAg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 300;
  src: local('Pridi Light'), local('Pridi-Light'), url(https://fonts.gstatic.com/s/pridi/v3/2sDdZG5JnZLfkc02i30kT0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 400;
  src: local('Pridi Regular'), local('Pridi-Regular'), url(https://fonts.gstatic.com/s/pridi/v3/2sDQZG5JnZLfkcWJqWgbbg.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 400;
  src: local('Pridi Regular'), local('Pridi-Regular'), url(https://fonts.gstatic.com/s/pridi/v3/2sDQZG5JnZLfkcWSqWgbbg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 400;
  src: local('Pridi Regular'), local('Pridi-Regular'), url(https://fonts.gstatic.com/s/pridi/v3/2sDQZG5JnZLfkcWTqWgbbg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 400;
  src: local('Pridi Regular'), local('Pridi-Regular'), url(https://fonts.gstatic.com/s/pridi/v3/2sDQZG5JnZLfkcWdqWg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 500;
  src: local('Pridi Medium'), local('Pridi-Medium'), url(https://fonts.gstatic.com/s/pridi/v3/2sDdZG5JnZLfkc1uin0wT0CEAg.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 500;
  src: local('Pridi Medium'), local('Pridi-Medium'), url(https://fonts.gstatic.com/s/pridi/v3/2sDdZG5JnZLfkc1uin0rT0CEAg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 500;
  src: local('Pridi Medium'), local('Pridi-Medium'), url(https://fonts.gstatic.com/s/pridi/v3/2sDdZG5JnZLfkc1uin0qT0CEAg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 500;
  src: local('Pridi Medium'), local('Pridi-Medium'), url(https://fonts.gstatic.com/s/pridi/v3/2sDdZG5JnZLfkc1uin0kT0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 600;
  src: local('Pridi SemiBold'), local('Pridi-SemiBold'), url(https://fonts.gstatic.com/s/pridi/v3/2sDdZG5JnZLfkc1CjX0wT0CEAg.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 600;
  src: local('Pridi SemiBold'), local('Pridi-SemiBold'), url(https://fonts.gstatic.com/s/pridi/v3/2sDdZG5JnZLfkc1CjX0rT0CEAg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 600;
  src: local('Pridi SemiBold'), local('Pridi-SemiBold'), url(https://fonts.gstatic.com/s/pridi/v3/2sDdZG5JnZLfkc1CjX0qT0CEAg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 600;
  src: local('Pridi SemiBold'), local('Pridi-SemiBold'), url(https://fonts.gstatic.com/s/pridi/v3/2sDdZG5JnZLfkc1CjX0kT0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
