<template>
    <div id="AppPassword" class="gray-bg">
		<header>
			<button>
			</button>
			<div class="header-title medium-text w-100 text-center">
				ตั้งรหัสผ่านของคุณ
			</div>
			<button class="exit-btn" @click="closeJVlogin">
			    <div class="icon-B_Fault white-text"></div>
			</button>
		</header>
		<main class="pt-5">
		    <div class="big-text normal-text black-text text-center mt-5">
		        รหัสผ่าน
		    </div>
		    <div id="con-app-password-focus" class="con-app-password" >
		        <div id="con-app-password-display" class="con-app-password-input-wrapper">
		            <span></span>
    		        <span></span>
    		        <span></span>
    		        <span></span>
    		        <span></span>
    		        <span></span>
		        </div>
		    </div>
		    <input type="password" name="con-app-password" id="con-app-password" class="d-block con-app-password-input-wrapper" style="pointer-events: none; opacity: 0;margin: auto; margin-top: -3rem;" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="6" autocomplete="new-password"/>
		    <div class="big-text normal-text black-text text-center mt-5">
		        ยืนยันรหัสผ่าน
		    </div>
		    <div id="con-app-confirm-password-focus" class="con-app-password" >
		        <div id="con-app-confirm-password-display" class="con-app-password-input-wrapper">
		            <span></span>
    		        <span></span>
    		        <span></span>
    		        <span></span>
    		        <span></span>
    		        <span></span>
		        </div>
		    </div>
		    <input type="password" name="con-app-confirm-password" id="con-app-confirm-password" class="d-block con-app-password-input-wrapper" style="pointer-events: none; opacity: 0;margin: auto; margin-top: -3rem;" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="6" autocomplete="new-password"/>
		    <div class="text-center mt-4 mt-md-5">
		        <button class="con-button clickable blue-bg px-5 py-3">
    		        <div class="px-5 jv-login-title">ตกลง</div>
    		    </button>
		    </div>
		</main>
    </div>
</template>

<script>
export default {
    name: 'AppPassword',
    data: function(){
        return {
            list_items : [1,2,3,4,5]
        }
    },
    methods: {
        goBack: function(e) {
            history.back();
        }
    },
    beforeCreate: function(){
        loaderOn();
    },
    mounted: function(){
        splashScreenOff();
        loaderOff();
    }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/*.exit-btn:before, .exit-btn:after {*/
/*    position: absolute;*/
/*    top: 1rem;*/
/*    right: 5rem;*/
/*    content: ' ';*/
/*    height: 3.5rem;*/
/*    width: 2px;*/
/*    background-color: #fff;*/
/*}*/
/*.exit-btn:before {*/
/*  transform: rotate(45deg);*/
/*}*/
/*.exit-btn:after {*/
/*  transform: rotate(-45deg);*/
/*}*/
/*.con-app-password {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    margin: auto;*/
/*    width: calc(100% - 4rem);*/
/*    max-width: 75rem;*/
/*    height: 9rem;*/
/*    background: #fff;*/
/*    border-radius: 0.5rem;*/
/*}*/
/*.con-app-password.active {*/
/*    border: 1px solid #d1d1d1;*/
/*}*/
/*.con-app-password span {*/
/*    display: block;*/
/*    width: 1.5rem;*/
/*    height: 1.5rem;*/
/*    margin: 0 2rem;*/
/*    background: #d1d1d1;*/
/*    border-radius: 50%;*/
/*    align-self: center;*/
/*}*/

/*.con-app-password span.active {*/
/*    background: #000000;*/
/*}*/
</style>