<template>
    <div id="creditlist" class="gray-bg">
		<header>
			<button @click="toMenu" id="creditlist-back">
				<span class="header-icon icon-ICO_Burger_menu" ></span>
				<span class="header-text desktop">หน้าหลัก</span>
			</button>
			<div class="header-title">
				เครดิตของฉัน
			</div>
			<button>
			</button>
		</header>
		<main>
			<div class="under-header-card">
			    <div class="under-header-credit-icon icon-ICO_Credit"></div>
			    <div class="d-flex justify-content-between align-items-center w-100">
			        <div class="d-flex flex-column">
    			        <div class="under-header-title">เครดิต SAISON</div> 
    			        <div class="credit-id-display">{{item_list.customer_code}}</div>
    			    </div>
    			    <div class="text-right credit-card-number desktop">
    			        จำนวนเครดิต 1 ใบ
    			    </div>
			    </div>
			</div>
			<section id="creditlist-content" class="container max-tablet">
				<div class="creditlist-slide">
					<button class="card creditlist-slide-item saison-credit-card clickable">
					    <div class="position-absolute creditlist-slide-item-bg">
							<div class="creditlist-slide-item-bg-elem-1">
								<div class="creditlist-slide-item-bg-elem-2">
									<div class="creditlist-slide-item-bg-elem-3"></div>
								</div>
							</div>
						</div>
					    <div class="position-relative">
    						<div class="detail row">
    						    <div class="col-12 col-md-6 order-2 order-md-1">
            						<div class="credit-card-title text-left">
            							SAISON
            						</div>
            						<div class="credit-card-title text-left">
            							CREDIT CARD
            						</div>
    						    </div>
    						    <div class="col-12 col-md-6 order-1 order-md-2 text-left text-md-right mb-3 mb-md-0">
    						        <img class="saison-creditcard-logo" src="/static/img/saison_credit.png">
    						    </div>
    						</div>
    						<div class="middle-horizontal-line my-4"></div>
    						<div class="detail d-flex">
    						    <div class="w-100">
    						        <div class="credit-line-detail">
            						    <div class="credit-line-detail-title text-left">Credit Line : </div>
            						    <div class="credit-line-detail-current text-left">
            						        <span class="credit-line-detail-amount">{{item_list.credit_limit}}</span><span class="credit-line-detail-unit">บาท</span>    
        						        </div>
            						</div>
    						    </div>
    						</div>
						</div>
					</button>
				</div>
				<div class="mt-5 small-text grey-text light-text text-center">
				    ข้อมูล ณ วันที่
				    {{item_list.last_transaction}}
				</div>
			</section>
		</main>
    </div>
</template>

<script>
export default {
    name: 'CreditList',
    data: function(){
        return {
            list_items : [1,2,3,4,5],
            item_list: [],
        }
    },
    methods: {
        toMenu: function(e) {
            history.back();
        },
        toCreditTransactionList: function(e) {
            this.$router.push('/transactionlist');
        },
        
    },
    beforeCreate: function(){
        loaderOn();
    },
    mounted: function(){
    	var self = this;
        splashScreenOff();
        loaderOff();
        //self.tab_1();
        this.$nextTick(function() { 
			$.ajax({
                type: "POST",
                datatype: 'json',
                url: self.$api + "customer/"+window.localStorage.getItem('customer_id'),
                success: function(data) {
                    var jdata = JSON.parse(data);
                    if(jdata.status == 200){
                        self.item_list =  jdata.items;
                    } else {
                        return false; 
                    }
                },
                error: function(jdata){
                    return false;
                }
            });
            
        });
        
    }
}

</script>
