<template>
    <div id="JVLogin" class="blue-bg">
		<header class="lightblue-bg">
			<button>
			</button>
			<div class="header-title big-text w-100 text-center desktop">
				เข้าระบบเครดิต SAISON
			</div>
			<div class="header-title medium-text w-100 text-center mobile">
				รหัสผ่าน
			</div>
			<button class="exit-btn" @click="closeJVlogin">
			    <div class="icon-B_Fault white-text"></div>
			</button>
		</header>
		<main class="pt-5">
		    <div class="con-jv-container text-center">
		        <img class="saison-aura img-fluid" src="/static/img/saison_credit.png">
		    </div>
		    <div v-if="username_and_password_form">
    		    <div class="con-jv-container jv-login-title white-text text-center text-md-left mt-5 mb-4 mb-md-1">
    		        ชื่อผู้ใช้
    		    </div>
    		    <div id="jv-username-focus" class="con-app-password" :class="wrong_password_over_form?'disabled':''" @click="usernameFocus">
    		        <div class="con-app-password-input-wrapper">
    		            <input type="text" name="jv-username" id="jv-username" class="con-app-password-input border-0" v-model="jv_username" autocomplete="new-password" @blur="usernameFocusOut" @keyup.enter="usernameFocusOut();passwordFocus();"/>
    		        </div>
    		    </div>
		    </div>
		    <div class="con-jv-container text-center text-md-left mt-5 mb-4 mb-md-1">
		        <span class="jv-login-title white-text" v-if="username_and_password_form">รหัสผ่าน</span>
		        <span class="jv-login-title white-text" v-if="password_form">โปรดใส่รหัสผ่านของคุณ</span>
		        <span class="jv-login-title white-text" v-if="new_password_form">โปรดใส่รหัสผ่านใหม่</span>
		    </div>
		    <div id="jv-password-focus" class="con-app-password" :class="wrong_password_over_form?'disabled':''" @click="passwordFocus">
		        <div id="jv-password-display" class="con-app-password-input-wrapper">
		            <span></span>
    		        <span></span>
    		        <span></span>
    		        <span></span>
    		        <span></span>
    		        <span></span>
		        </div>
		    </div>
		    <input type="password" name="jv-password" id="jv-password" class="d-block con-app-password-input-wrapper" v-model="jv_password" @input="onPasswordChange" @blur="passwordFocusOut" @keyup.enter="new_password_form?confirmNewJVPassword():confirmJVlogin();" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="6" autocomplete="new-password"/>
		    <div class="white-text text-center jv-login-title d-block clickable mt-4 mt-md-5" v-if="!wrong_password_over_form && !new_password_form" @click="forgotPassword">ลืมรหัสผ่าน ?</div>
		    <div class="white-text d-flex justify-content-center align-items-center mt-4" v-if="wrong_password_over_form">
		        <div class="fault-round mr-3"><div class="icon-B_Fault_Bold"></div></div> <div class="normal-text smaller-text">ใส่รหัสผ่านผิดเกิน 3 ครั้ง</div>
		    </div>
		    <div class="white-text text-center mt-4" v-if="new_password_form || wrong_password_over_form">
		        <div>กรุณาติดต่อ SAISON เพื่อขอรหัสผ่านใหม่</div>
                <div>โทร : <a href="tel:099-444-5555">099-444-5555</a> </div>
                <div>ไลน์ ID : <a href="#">@SAISONCREDIT</a></div>
                <div>(** ติดต่อได้ตลอด 24 ชั่วโมง **)</div>
		    </div>
		    <div class="text-center mt-4 mt-md-5">
		        <button class="con-button clickable lightgreen-bg px-5 py-3" @click="new_password_form?confirmNewJVPassword():confirmJVlogin();">
    		        <div class="px-5 jv-login-title">ตกลง</div>
    		    </button>
		    </div>
		    <div class="popup-overlimit" v-if="popup">
    			<div class="popup-overlimit-box" v-if="new_password_form">
    				<div class="title lightblue-text">คุณใส่รหัสผ่านเก่า</div>
    				<div class="info">
    					คุณใส่รหัสผ่านเก่า
                        ที่คุณได้รับกรุณาติดต่อ SAISON 
                        เพื่อขออณุมัติเพิ่มเป็นกรณีพิเศษ
    				</div>
    				<div class="tel">
    					โทร : <a href="tel:0994445555">099-444-5555</a>
						<div>(** ติดต่อได้ตลอด 24 ชั่วโมง **)</div>
    				</div>
    				<button type="button" class="popup-overlimit-btn-confirm" @click="closePopup">ใส่รหัสผ่านใหม่</button>
    			</div>
    			<div class="popup-overlimit-box" v-if="wrong_password_form">
    			    
    				<div class="title lightblue-text"><span v-if="username_and_password_form" class="title lightblue-text">ชื่อผู้ใช้หรือ</span>รหัสผ่านของคุณผิดพลาด</div>
    				<div class="info">
    					ในกรณีที่คุณลืมรหัสผ่านกรุณาติดต่อ
                        SAISONเพื่อขอรหัสผ่านใหม่ในการเข้าระบบ
    				</div>
    				<div class="tel">
    					โทร : <a href="tel:0994445555">099-444-5555</a> 
    					<div>(** ติดต่อได้ตลอด 24 ชั่วโมง **)</div>
    				</div>
    				<button type="button" class="popup-overlimit-btn-confirm w-auto" @click="closePopup">รับทราบ</button>
    			</div>
    			<div class="popup-overlimit-box" v-if="wrong_password_over_form">
    				<div class="title lightblue-text">กรุณาติดต่อ SAISON</div>
    				<div class="info">
    					ในกรณีที่คุณลืมรหัสผ่านกรุณาติดต่อ
                        SAISONเพื่อขอรหัสผ่านใหม่ในการเข้าระบบ
    				</div>
    				<div class="tel">
    					โทร : <a href="tel:0994445555">099-444-5555</a> 
    					<div>(** ติดต่อได้ตลอด 24 ชั่วโมง **)</div>
    				</div>
    				<button type="button" class="popup-overlimit-btn-confirm w-auto" @click="closePopup">รับทราบ</button>
    			</div>
    		</div>
		</main>
    </div>
</template>

<script>
export default {
    name: 'JVLogin',
    data: function(){
        return {
            jv_username: "",
            jv_password: "",
            username_and_password_form: false,
            password_form: false,
            new_password_form: false,
            wrong_password_form: false,
            wrong_password_over_form: false,
            popup: false,
            wrong_password_count:0,
            saison_token: ''
        }
    },
    methods: {
        goBack: function(e) {
            history.back();
        },
        inputDynamicWidth: function(elem){
            $.fn.textWidth = function(text, font) {
                if (!$.fn.textWidth.fakeEl) $.fn.textWidth.fakeEl = $('<span>').hide().appendTo(document.body);
                $.fn.textWidth.fakeEl.text(text || this.val() || this.text() || this.attr('placeholder')).css('font', font || this.css('font'));
                return $.fn.textWidth.fakeEl.width();
            };
            $(elem).on('input', function() {
                var inputWidth = $(this).textWidth();
                $(this).css({
                    width: inputWidth
                })
            }).trigger('input');
        },
        usernameFocus: function(){
            $("#jv-username").focus();
            $("#jv-username-focus").addClass("active");
        },
        passwordFocus: function(){
            $("#jv-password").focus();
            $("#jv-password-focus").addClass("active");
        },
        usernameFocusOut: function(){
            $("#jv-username-focus").removeClass("active");
        },
        passwordFocusOut: function(){
            $("#jv-password-focus").removeClass("active");
        },
        onPasswordChange: function(){
            // console.log("#jv-password-display > span::lt("+this.jv_password.length+")");
            $("#jv-password-display > span").removeClass("active");
            $("#jv-password-display > span:lt("+this.jv_password.length+")").addClass("active");
        },
        forgotPassword: function(){
            var self = this;
            self.username_and_password_form = false;
            self.password_form = false;
            self.new_password_form = true;
        },
        confirmJVlogin: function(){
            var self = this;
            //wrong case
            if(self.jv_password == "000000" || self.jv_password.length!=6){
                self.wrong_password_count++;
                if(self.wrong_password_count>3){
                    self.wrong_password_form = false;
                    self.wrong_password_over_form = true;
                    self.popup = true;
                }
                else{
                    self.wrong_password_form = true;
                    self.popup = true;
                }
                return;
            }
            //check with api
            $.ajax({
                type: "POST",
                datatype: 'json',
                url: self.$api + "transaction/?act=verify_account",
                data: {
                    customer_tax_no: window.localStorage.getItem('tax_no'),
                    username: self.jv_username,
                    password: self.jv_password,
                    customer_id: window.localStorage.getItem('customer_id')
                },
                success: function(data) {
                    var jdata = JSON.parse(data);
                    if(jdata.status == 200 && jdata.items.result == "OK"){
                        self.saison_token = jdata.items.auth_token;
                        self.createOrder();
                    } else {
                        self.wrong_password_count++;
                        if(self.wrong_password_count>3){
                            self.wrong_password_form = false;
                            self.wrong_password_over_form = true;
                            self.popup = true;
                        }
                        else{
                            self.wrong_password_form = true;
                            self.popup = true;
                        }
                    }
                },
                error: function(jdata){
                    return false;
                }
            });
        },
        confirmNewJVPassword: function(){
            var self = this;
            self.new_password_form = true;
            self.username_and_password_form = false;
            self.password_form = false;
            self.wrong_password_over_form = false;
            self.wrong_password_form = false;
            self.popup = true;
        },
        closeJVlogin: function(){
            this.$router.go(-1);
        },
        closePopup: function(){
        	var self = this;
        	self.popup = false;
        },
        createOrder: function(){
            var self = this;
            var get_itemlist = JSON.parse(window.localStorage.getItem('itemlist'));
            $.ajax({
                type: "POST",
                datatype: 'json',
                url: self.$api + "transaction/?act=create_order",
                data: {
                    customer_tax_no: window.localStorage.getItem('tax_no'),
                    order_number: get_itemlist.order_number,
                    product_id: window.localStorage.getItem('product_id'),
                    dealer_code: get_itemlist.dealer_code,
                    purchase_date: get_itemlist.purchase_date,
                    amount: get_itemlist.total_amount,
                    auth_token: self.saison_token,
                    number_of_installments: window.localStorage.getItem('number_of_installments'),
                    annual_interest_rate: window.localStorage.getItem('annual_interest_rate'),
                    monthly_interest_rate: window.localStorage.getItem('monthly_interest_rate'),
                    installment_amount: window.localStorage.getItem('installment_amount'),
                    total_amount: window.localStorage.getItem('total_amount')
                },
                success: function(data) {
                    var jdata = JSON.parse(data);
                    if(jdata.status == 200){
                        self.$router.push({name:'TransactionDetail',params:{id:window.localStorage.getItem('transaction_id')}});  
                        // self.$router.push({name:'TransactionDetail',params:{id:window.localStorage.getItem('transaction_id'), step:2}});  
                    } else {
                        return false;
                    }
                },
                error: function(jdata){
                    return false;
                }
            });
        }
    },
    beforeCreate: function(){
        loaderOn();
    },
    mounted: function(){
        var self = this;
        splashScreenOff();
        loaderOff();
        self.inputDynamicWidth($("#jv-username"));
        self.jv_username = "";
        self.jv_password = "";
        self.onPasswordChange();
        $.ajax({
            type: "POST",
            datatype: 'json',
            url: self.$api + "transaction/?act=get_username",
            data: {
                customer_id: window.localStorage.getItem('customer_id')
            },
            success: function(data) {
                var jdata = JSON.parse(data);
                if(jdata.status == 200 && jdata.items.username_saison && jdata.items.username_saison != ""){
                    self.username_and_password_form = false;
                    self.password_form = true;
                    self.jv_username = jdata.items.username_saison;
                    console.log(self.jv_username);
                } else {
                    self.username_and_password_form = true;
                    self.password_form = false;
                    self.jv_username = "";
                }
            },
            error: function(jdata){
                return false;
            }
        });
    }
}

</script>

