<template>
    <div id="login" class="blue-bg white-text big-text light-text">
        <section id="login-content" class="container max-tablet px-5">
            <div class="login-logo-wrapper row">
                <div class="col-12 col-md-9">
                    <img class="login-text-logo img-fluid" src="/static/img/text-logo-white/text-logo-white.png">
                </div>
                <div class="col-12 col-md-3 text-center">
                     <img class="login-saison-logo img-fluid" src="/static/img/saison_credit.png">
                </div>
            </div>
            <div class="login-form">
            	<div class="form-group login-form-group">
            	    <div class="login-title-text">ชื่อผู้ใช้</div> 
            		<input v-model="username" type="text" name="login_employee_id" id="login_employee_id" placeholder="ชื่อผู้ใช้" class="form-control login-input">
            	</div> 
            	<div class="form-group login-form-group">
            	    <div class="login-title-text">รหัสผ่าน</div> 
            		<input v-model="password" type="password" name="login_password" id="login_password" placeholder="รหัสผ่าน" class="form-control login-input" @keyup.enter="login">
            	</div> 
            	<div class="login-extra-link-wrapper">
            	    <br>
            		<!--<a @click='toContactUs' href="#" class="medium-text normal-text clickable">ติดต่อเรา</a><span class="login-extra-line"></span><a @click='toForgotPassword' href="/forgotpassword" class="medium-text normal-text clickable">ลืมรหัสผ่าน ?</a>-->
            	</div>
            	<button @click='login' type="button" id="login-btn" class="form-control con-button green-bg">เข้าสู่ระบบ</button>
        	</div>
        </section>
        <footer class="container max-tablet">
        	<img class="login-screen-footer" src="/static/img/login-screen-footer.png">
        </footer>
    </div>
</template>

<script>
export default {
    name: 'Login',
    data: function(){
        return {
            username: '',
            password: '',
        }
    },
    methods: {
        login: function() {
            var self = this;
            var user_name = $('#login_employee_id').val();
            var pass = $('#login_password').val();
            $.ajax({
                type: "POST",
                datatype: 'json',
                url: this.$api + "login",
                data: {
                    username: user_name,
                    password: pass
                },
                success: function(data) {
                    var jdata = JSON.parse(data);
                    if(jdata.status == 200){
                        window.localStorage.setItem('username', user_name);
                        window.localStorage.setItem('version', '0.0.3');
                        window.localStorage.setItem('customer_id', jdata.items.customer_id);
                        self.$router.push('/menu'); 
                    } else {
                        return false; 
                    }
                },
                error: function(jdata){
                    return false;
                }
            });
            
        },
        toContactUs: function(e) {
            console.log(e);
        },
        toForgotPassword: function(e) {
            e.preventdefault()
            console.log(e);
        }
    },
    mounted: function(){
        splashScreenOff();
    }
}

</script>