<template>
    <div id="menu" class="gray-bg">
		<button @click="toLogout" id="menu-logout-btn">
		    <div class="logout-text desktop">ออกจากระบบ</div>
			<img src="/static/img/logout_icon.png" class="logout-icon">
		</button>
		<section id="menu-content" class="container max-tablet">
		
			<img class="menu-text-logo desktop" src="/static/img/text-logo-color/text-logo-color.png">
			<img class="menu-text-logo mobile" src="/static/img/text-logo-color/mobile-text-logo-color.png">
			
			<div @click="toTransactionList" id="menu-totransactionlist-btn" class="card d-flex flex-row align-items-center menu-card blue-bg clickable">
				<div class="menu-icon d-flex align-items-center justify-content-center">
					<span class="menu-icon-img icon-menu-transactionlist">
					</span>
				</div>
				<div class="menu-text">
					รายการสั่งซื้อ
				</div>
				<div class="menu-noti" v-if="chk_total">{{noti_total}}</div>
			</div>
			<div @click="toCreditList" id="menu-tocreditlist-btn" class="card d-flex flex-row align-items-center menu-card blue-bg clickable">
				<div class="menu-icon d-flex align-items-center justify-content-center">
					<span class="menu-icon-img icon-menu-creditlist" >
					</span>
				</div>
				<div class="menu-text">
					เครดิตของฉัน
				</div>
				<div>
					<img class="menu-saison_credit-logo" src="/static/img/saison_credit.png">
				</div>
			</div>
		</section>
		<footer class="container max-tablet">
			<img class="menu-screen-footer" src="/static/img/menu-screen-footer.png">
		</footer>
    </div>
</template>

<script>
export default {
    name: 'Menu',
    data () {
        return {
        	noti_total: '',
        	chk_total: false
        }
    },
    mounted: function(){
    	var self = this;
        splashScreenOff();
        $.ajax({
            type: "GET",
            datatype: 'json',
            url: self.$api + "transaction/"+window.localStorage.getItem('customer_id')+"?act=count_trans&" + Math.floor(Math.random() * 10000),
            success: function(data) {
                var jdata = JSON.parse(data);
                if(jdata.status == 200){
                	self.noti_total = jdata.total;
                	if(jdata.total > 0) {
                		self.chk_total = true;
                	}
                } else {
                    return false; 
                }
            },
            error: function(jdata){
                return false;
            }
        });
        this.$nextTick(function() {
           $.ajax({
                type: "POST",
                datatype: 'json',
                url: self.$api + "customer/"+window.localStorage.getItem('customer_id') + "/?" + Math.floor(Math.random() * 10000),
                success: function(data) {
                    var jdata = JSON.parse(data);
                    if(jdata.status == 200){
                        window.localStorage.setItem('tax_no', jdata.items.tax_no);
                    } else {
                        return false; 
                    }
                },
                error: function(jdata){
                    return false;
                }
            }); 
        });
    },
    methods: {
        toCreditList: function(e) {
            this.$router.push('/creditslist');
        },
        toTransactionList: function(e) {
            this.$router.push('/transactionlist');
        },
        toForgotPassword: function(e) {
            e.preventdefault()
            //console.log(e);
        },
        toLogout: function(){
        	localStorage.clear();
            this.$router.push('/');
        }
    },
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
