<template>
    <div id="payment_detail" class="gray-bg">
		<header>
			<button @click="toCreditList" id="creditlist-back">
				<span class="header-icon icon-Ar_Left_1" ></span>
				<!--<span class="header-text desktop">หน้าหลัก</span>-->
			</button>
			<div class="header-title">
				รายการใช้จ่าย
			</div>
			<button>
			</button>
		</header>
		<main>
			<div class="under-header-card d-flex flex-column align-items-center">
			    <div class="under-header-creditid">{{item_list.order_number}}</div>
			    <div class="">
			        <span class="under-header-shopname">
			            {{item_list.shop_name}}
			        </span>
			        <span class="under-header-location">
			            {{item_list.shop_billing_address}}
			        </span>
			    </div>
			</div>
			<div class="container mw-mobile-100">
    			<div class="card d-flex flex-row w-100 payment-detail-card-title px-4">
    			    <div>
    			        <div class="transaction-detail-title">
    			            ประเภทการจ่าย
    			        </div>
    			        <div class="transaction-detail-title deepblue-text" v-if="payment_list.number_of_installments == 1">
    			            ชำระผ่านเครดิต Saison
    			            (ชำระเต็มจำนวน)
    			        </div>
    			        <div class="transaction-detail-title deepblue-text" v-if="payment_list.number_of_installments != 1">
    			            ชำระผ่านเครดิต Saison
    			            (ผ่อนชำระ {{payment_list.number_of_installments}} เดือน)
    			        </div>
    			    </div>
    			    <div>
    			        <img class="payment-detail-in-card-img" src="/static/img/saison_credit.png">
    			    </div>
    			</div>
    			<div class="transaction-detail-title mt-4">
    			    สรุปรายการ
    			</div>
    			<hr>
    			<div class="row">
    			    <div class="col-12 col-md-6">
    			    	<div class="card w-100 payment-detail-content-left1">
    			            <div class="transaction-detail-title">พนักงานขาย</div>
    			            <div class="transaction-detail-description">{{item_list.sale_name}}</div>
    			        </div>
    			        <div class="card w-100 px-4 py-4">
    			            <div class="transaction-detail-title deepblue-text">
    			                จำนวนสินค้า
    			            </div>
    			            <div class="d-flex">
    			                <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width pl-2">{{item_list.num_prod}}</div>
    			                <div class="unit">รายการ</div>
    			            </div>
    			            <hr>
    			            <div class="d-flex">
            			         <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">
            			             ราคารวม
            			         </div>
            			         <div class="unit">บาท</div>
            			         <div class="transaction-detail-price ml-auto">{{item_list.net_amount}}</div>
        			        </div>
        			        <div class="d-flex">
            			         <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">
            			             ส่วนลด
            			         </div>
            			         <div class="unit">บาท</div>
            			         <div class="transaction-detail-price ml-auto">- {{item_list.discount_value}}</div>
        			        </div>
        			        <div class="d-flex">
            			         <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">
            			             ค่าจัดส่ง
            			         </div>
            			         <div class="unit">บาท</div>
            			         <div class="transaction-detail-price ml-auto">{{item_list.delivery_cost}}</div>
        			        </div>
        			        <div class="d-flex">
            			         <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">
            			             ราคาสินค้า
            			         </div>
            			         <div class="unit">บาท</div>
            			         <div class="transaction-detail-price ml-auto">{{item_list.totalAservice}}</div>
        			        </div>
        			        <div class="d-flex">
            			         <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">
            			             ภาษี 7%
            			         </div>
            			         <div class="unit">
            			             บาท
            			         </div>
            			         <div class="transaction-detail-price ml-auto">
            			             {{item_list.total_vat}}
            			         </div>
        			        </div>
        			        <!--<div class="d-flex">-->
            			    <!--     <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">-->
            			    <!--         ราคาสุทธิ-->
            			    <!--     </div>-->
            			    <!--     <div class="unit">-->
            			    <!--         บาท-->
            			    <!--     </div>-->
            			    <!--     <div class="transaction-detail-price ml-auto">-->
            			    <!--         10,000-->
            			    <!--     </div>-->
        			        <!--</div>-->
        			        <div class="d-flex transaction-detail-price-summary align-items-center no-bg no-border">
            			         <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">
            			             ราคาสุทธิ
            			         </div>
            			         <div class="unit">บาท</div>
            			         <div class="transaction-detail-price ml-auto">
            			             {{item_list.total_amount}}
            			         </div>
        			        </div>
    			        </div>
    			    </div>
    			    <div class="col-12 col-md-6">
    			        <div class="card w-100 px-4 py-4 mt-4 mt-md-0">
    			        	<div class="transaction-detail-title blue-text text-left" v-if="payment_list.number_of_installments == 1">
    			            	ชำระเต็มจำนวน
    			            </div>
    			            <div class="transaction-detail-title blue-text text-left" v-if="payment_list.number_of_installments != 1">
    			            	ผ่อนชำระ {{payment_list.number_of_installments}}  เดือน
    			            </div>
    			            <div class="transaction-detail-subtitle text-left">
    			            	ดอกเบี้ย %
    			            </div>
    			            <div class="d-flex justify-content-between">
    			            	<div class="transaction-detail-subtitle red-text" v-if="payment_list.monthly_interest_rate != 0">
    			            		{{payment_list.monthly_interest_rate}}%
    			            	</div>
    			            	<div class="unit" v-if="payment_list.monthly_interest_rate == 0">
    			            	 	-
    			            	</div>
    			            	<div class="unit">
    			            		/ เดือน
    			            	</div>
    			            </div>
    			            <div class="transaction-detail-price-summary mx-0 px-4 mt-3">
    			                <div class="d-flex justify-content-between">
    			                    <div class="transaction-detail-subtitle text-center">
        			            		ยอดชำระเฉลี่ย
        			            	</div>
        			            	<div class="unit text-center" v-if="payment_list.monthly_interest_rate != 0">
					            		บาท / เดือน
					            	</div>
					            	<div class="unit text-center" v-if="payment_list.monthly_interest_rate == 0">
					            		บาท
					            	</div>
    			                </div>
    			            	<div class="transaction-detail-price text-right">
    			            		{{payment_list.installment_amount}}
    			            	</div>
    			            </div>
            				<div v-for="payment_items in payment_list.list">
		    					<div class="middle-horizontal-line-dashed my-3"></div>
		    					<div class="row justify-content-center justify-content-md-start flex-wrap flex-md-nowrap px-4 " >
			    					<div class="col-12 col-md-3 blue-text transaction-detail-subtitle px-0 ">
			    						งวดที่ {{payment_items.list}}
			    					</div>
			    					<div class="col-3 col-md-4 transaction-detail-subtitle px-0">
			    						ดอกเบี้ย
			    					</div>
			    					<div class="col-5 col-md-5 colpayment-period-detail-col-4 transaction-detail-subtitle pl-2 pl-md-4 px-md-0 pr-0 pr-md-4 text-md-right">
			    						{{payment_items.interest}}
			    					</div>
			    					<div class="col-4 payment-period-detail-col-5 subunit mobile pl-0 pr-0">
			    						บาท / เดือน
			    					</div>
			    				</div>
			    				<div class="row justify-content-center justify-content-md-start flex-wrap flex-md-nowrap px-4 " >
			    					<div class="col-2 col-md-3 blue-text transaction-detail-subtitle px-0 px-md-2 desktop">
			    						
			    					</div>
			    					<div class="col-3 col-md-4 transaction-detail-subtitle px-0">
			    						ยอดชำระ
			    					</div>
			    					<div class="col-5 col-md-5 colpayment-period-detail-col-4 transaction-detail-subtitle green-text pl-2 pl-md-4 px-md-0 pr-0 pr-md-4 text-md-right">
			    						{{payment_items.total_amount}}
			    					</div>
			    					<div class="col-4 payment-period-detail-col-5 subunit mobile pl-0 pr-0">
			    						บาท / เดือน
			    					</div>
			    				</div>
		    				</div>
    			        </div>
    			    </div>
    			</div>
    			<div class="row d-none">
    			    <div class="col-12 col-md-6 order-1">
    			    	<div class="card w-100 payment-detail-content-left1">
    			            <div class="transaction-detail-title">พนักงานขาย</div>
    			            <div class="transaction-detail-description">{{item_list.sale_name}}</div>
    			        </div>
			    	</div>
			    	<div class="col-12 col-md-6 order-3 order-md-2">
			    		<div class="card w-100 payment-detail-content-left1">
    			            <div class="transaction-detail-title">ระยะเวลาชำระ</div>
    			            <div class="transaction-detail-description">เครดิต 30 วัน</div>
    			        </div>
			    	</div>
			    	<div class="col-12 order-2 order-md-3">
			    		<div class="card w-100 px-4 py-4 mt-4 mt-md-0 mb-5">
				    		<div class="transaction-detail-title deepblue-text">
				                จำนวนสินค้า
				            </div>
				            <div class="d-flex">
				                <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width pl-2">{{item_list.num_prod}}</div>
				                <div class="unit">รายการ</div>
				            </div>
				            <hr>
				            <div class="d-flex">
	        			         <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">
	        			             ราคารวม
	        			         </div>
	        			         <div class="unit">บาท</div>
	        			         <div class="transaction-detail-price ml-auto">{{item_list.net_amount}}</div>
	    			        </div>
	    			        <div class="d-flex">
	        			         <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">
	        			             ส่วนลด
	        			         </div>
	        			         <div class="unit">บาท</div>
	        			         <div class="transaction-detail-price ml-auto">- {{item_list.discount_value}}</div>
	    			        </div>
	    			        <div class="d-flex">
	        			         <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">
	        			             ค่าจัดส่ง
	        			         </div>
	        			         <div class="unit">บาท</div>
	        			         <div class="transaction-detail-price ml-auto">{{item_list.delivery_cost}}</div>
	    			        </div>
	    			        <div class="d-flex">
	        			         <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">
	        			             ราคาสินค้า
	        			         </div>
	        			         <div class="unit">บาท</div>
	        			         <div class="transaction-detail-price ml-auto">{{item_list.totalAservice}}</div>
	    			        </div>
	    			        <div class="d-flex">
	        			         <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">
	        			             ภาษี 7%
	        			         </div>
	        			         <div class="unit">
	        			             บาท
	        			         </div>
	        			         <div class="transaction-detail-price ml-auto">
	        			             {{item_list.total_vat}}
	        			         </div>
	    			        </div>
	    			        <div class="d-flex transaction-detail-price-summary align-items-center no-bg no-border">
	        			         <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">
	        			             ราคาสุทธิ
	        			         </div>
	        			         <div class="unit">บาท</div>
	        			         <div class="transaction-detail-price ml-auto">
	        			             {{item_list.total_amount}}
	        			         </div>
	    			        </div>
    			        </div>
			    	</div>
		    	</div>
    			<div class="container payment-detail-box-btn-confirm">
	    			<button type="button" class="btn-confirm-payment-detail" @click="toJVlogin"><i class="icon-Menu_Promotion"></i>ยืนยัน</button>
    			</div>
    			<div class="py-5"></div>
    			<div class="py-5"></div>
    			<div class="py-3"></div>
			</div>
		</main>
    </div>
</template>

<script>
export default {
    name: 'PaymentDetail',
    data: function(){
        return {
            list_items : [1,2,3,4,5],
            payment_list: [],
            item_list: []
        }
    },
    methods: {
        toCreditList: function(e) {
            //history.back();
            this.$router.go(-1);
        },
        toCreditTransactionDetail: function(){
            this.$router.push('/transactiondetail');
        },
        toJVlogin: function(){
        	this.$router.push('/jvlogin');
        },
    },
    beforeCreate: function(){
        loaderOn();
    },
    mounted: function(){
    	var self = this;
    	this.$nextTick(function() { 
    		self.payment_list = JSON.parse(window.localStorage.getItem('payment_list'));
    		self.item_list = JSON.parse(window.localStorage.getItem('itemlist'));
    	});
        
        splashScreenOff();
        loaderOff();
    }
}

</script>