<template>
    <div id="payment_select" class="gray-bg">
		<header>
			<button @click="toCreditList" id="creditlist-back">
				<span class="header-icon icon-Ar_Left_1" ></span>
				<!--<span class="header-text desktop">หน้าหลัก</span>-->
			</button>
			<div class="header-title">
				รายการใช้จ่าย
			</div>
			<button>
			</button>
		</header>
		<main>
			<div class="under-header-card d-flex flex-column align-items-center">
			    <div class="under-header-creditid">{{items_list.order_number}} </div>
			    <div class="">
			        <span class="under-header-shopname">{{items_list.shop_name}}</span>
			        <span class="under-header-location">{{items_list.shop_billing_address}}</span>
			    </div>
			</div>
			<div class="container mw-mobile-100 max-tablet mt-5">
    			<div class="card transaction-detail-info d-flex flex-row flex-nowrap">
    			    <div class="row w-100 pr-0">
    			        <div class="col-6">
    			            <div class="transaction-detail-title">
    			                จำนวนสินค้า
    			            </div>
    			            <div class="d-flex justify-content-between align-items-center">
    			                <div class="transaction-detail-num">{{items_list.num_prod}}</div>
    			                <div class="transaction-detail-txt">รายการ</div>
    			            </div>
        			    </div>
        			    <div class="absolute-middle-vertical-line-dashed"></div>
        			    <!--<div class="col-12 pr-0 mobile">-->
        			    <!--    <div class="middle-horizontal-line-dashed my-4 mobile"></div>-->
        			    <!--</div>-->
        			    <div class="col-6 pr-0 pr-md-4">
    			            <div class="transaction-detail-title">
    			                ราคาสุทธิ
    			            </div>
    			            <div class="d-flex justify-content-between align-items-center">
    			                <div class="transaction-detail-num">{{items_list.total_amount}}</div>
    			                <div class="transaction-detail-txt">บาท</div>
    			            </div>
        			    </div>
    			    </div>
    			</div>
    			
    			<div class="transaction-detail-title mt-4 text-center">
    			    เลือกเงื่อนไขการสั่งซื้อ
    			</div>
    			<div id="payment_dropdown" class="con-dropdown-wrapper">
					<div class="con-dropdown-header clickable">
						{{payment_dropdown_text}}
					</div>
					<div class="con-dropdown-options">
						<div class="con-dropdown-options-items" value="0" v-for="(items, index) in payment_dropdown_list" @click="paymentDropdownSelect(items)">
							<div>{{items.name}}</div>
							<div class="ml-auto desktop" v-if="(items.id == 3)">
							    <img class="dropdown-saison-img img-fluid" src="/static/img/saison_credit.png">
							</div>
						</div>
					</div>
				</div>
				<div id="saison-payment" v-if="payment_dropdown_selected == 3">
					<div class="transaction-detail-title mt-4">
						เลือกเงื่อนไขการผ่อนชำระ
					</div>
	    			<hr>
	    			<div class="scrolling-wrapper d-md-flex justify-content-md-between text-md-center pb-5" >
	    				<div class="payment-select-card card ustify-content-between py-2 py-md-4 px-4 h-100" 
	    					:class="(tabs_active == index)? 'active' : ''" 
	    					v-for="(select_list, index) in select_item"
	    					@click="selectTabs(select_list.number_of_installments, select_list.product_id, select_list.monthly_interest_rate, select_list.annual_interest_rate, select_list.installment_amount, select_list.total_amount)">
				            <div class="transaction-detail-title blue-text text-left" v-if="select_list.number_of_installments == 1">
				            	ชำระเต็มจำนวน
				            </div>
				            <div class="transaction-detail-title blue-text text-left" v-if="select_list.number_of_installments != 1">
				            	ผ่อนชำระ 
				            	{{select_list.number_of_installments}} 
				            	เดือน
				            </div>
				            <div class="transaction-detail-subtitle text-left">
				            	ดอกเบี้ย
				            </div>
				            <div class="d-flex justify-content-between">
				            	<div class="transaction-detail-subtitle red-text" v-if="select_list.monthly_interest_rate != 0">
				            		{{select_list.monthly_interest_rate}}%
				            	</div>
				            	<div class="unit" v-if="select_list.monthly_interest_rate == 0">
				            		-
				            	</div>
				            	<div class="unit">
				            		/ เดือน
				            	</div>
				            </div>
				            <div class="transaction-detail-price-summary mx-0 mt-3 px-0">
				            	<div class="transaction-detail-subtitle text-center">
				            		ยอดชำระเฉลี่ย
				            	</div>
				            	<div class="transaction-detail-price payment-type-price text-center">
				            		{{(select_list.installment_amount).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}}
				            	</div>
				            	<div class="unit text-center" v-if="select_list.monthly_interest_rate != 0">
				            		บาท / เดือน
				            	</div>
				            	<div class="unit text-center" v-if="select_list.monthly_interest_rate == 0">
				            		บาท
				            	</div>
				            </div>
				        </div>
	    				<!--<div class="payment-select-card card active justify-content-between py-2 py-md-4 px-3 h-100 float-md-left">-->
				     <!--       <div class="transaction-detail-title blue-text text-left">-->
				     <!--       	ชำระเต็มจำนวน-->
				     <!--       </div>-->
				     <!--       <div class="transaction-detail-subtitle text-left">-->
				     <!--       	ดอกเบี้ย-->
				     <!--       </div>-->
				     <!--       <div class="d-flex justify-content-between">-->
				     <!--       	<div class="transaction-detail-subtitle red-text">-->
				     <!--       		0.57%-->
				     <!--       	</div>-->
				     <!--       	<div class="unit">-->
				     <!--       		/ เดือน-->
				     <!--       	</div>-->
				     <!--       </div>-->
				     <!--       <div class="transaction-detail-price-summary mx-0 mt-3">-->
				     <!--       	<div class="transaction-detail-subtitle text-center">-->
				     <!--       		ยอดชำระเฉลี่ย-->
				     <!--       	</div>-->
				     <!--       	<div class="transaction-detail-price text-center">-->
				     <!--       		70,496-->
				     <!--       	</div>-->
				     <!--       	<div class="unit text-center">-->
				     <!--       		บาท-->
				     <!--       	</div>-->
				     <!--       </div>-->
				     <!--   </div>-->
				     <!--   <div class="payment-select-card card justify-content-between py-2 py-md-4 px-3 h-100">-->
				     <!--       <div class="transaction-detail-title blue-text text-left">-->
				     <!--       	ชำระเต็มจำนวน-->
				     <!--       </div>-->
				     <!--       <div class="transaction-detail-subtitle text-left">-->
				     <!--       	ดอกเบี้ย-->
				     <!--       </div>-->
				     <!--       <div class="d-flex justify-content-between">-->
				     <!--       	<div class="transaction-detail-subtitle red-text">-->
				     <!--       		0.57%-->
				     <!--       	</div>-->
				     <!--       	<div class="unit">-->
				     <!--       		/ เดือน-->
				     <!--       	</div>-->
				     <!--       </div>-->
				     <!--       <div class="transaction-detail-price-summary mx-0 mt-3">-->
				     <!--       	<div class="transaction-detail-subtitle text-center">-->
				     <!--       		ยอดชำระเฉลี่ย-->
				     <!--       	</div>-->
				     <!--       	<div class="transaction-detail-price text-center">-->
				     <!--       		70,496-->
				     <!--       	</div>-->
				     <!--       	<div class="unit text-center">-->
				     <!--       		บาท-->
				     <!--       	</div>-->
				     <!--       </div>-->
				     <!--   </div>-->
				     <!--   <div class="payment-select-card card justify-content-between py-2 py-md-4 px-3 h-100 float-md-right">-->
				     <!--       <div class="transaction-detail-title blue-text text-left">-->
				     <!--       	ชำระเต็มจำนวน-->
				     <!--       </div>-->
				     <!--       <div class="transaction-detail-subtitle text-left">-->
				     <!--       	ดอกเบี้ย-->
				     <!--       </div>-->
				     <!--       <div class="d-flex justify-content-between">-->
				     <!--       	<div class="transaction-detail-subtitle red-text">-->
				     <!--       		0.57%-->
				     <!--       	</div>-->
				     <!--       	<div class="unit">-->
				     <!--       		/ เดือน-->
				     <!--       	</div>-->
				     <!--       </div>-->
				     <!--       <div class="transaction-detail-price-summary mx-0 mt-3">-->
				     <!--       	<div class="transaction-detail-subtitle text-center">-->
				     <!--       		ยอดชำระเฉลี่ย-->
				     <!--       	</div>-->
				     <!--       	<div class="transaction-detail-price text-center">-->
				     <!--       		70,496-->
				     <!--       	</div>-->
				     <!--       	<div class="unit text-center">-->
				     <!--       		บาท-->
				     <!--       	</div>-->
				     <!--       </div>-->
				     <!--   </div>-->
	    			</div>
	    			<div class="card w-100 normal-text p-3">
	    				<div class="d-flex align-items-center green-text">
	    					<div class="payment-period-detail-col-1 icon-ICO_Credit"></div>
	    					<div class="transaction-detail-title green-text" v-if="tabs_list.number_of_installments == 1">
	    						เครดิต ชำระเต็มจำนวน
	    					</div>
	    					<div class="transaction-detail-title green-text" v-if="tabs_list.number_of_installments != 1">
	    						เครดิต ผ่อนชำระ 
	    						{{tabs_list.number_of_installments}} 
	    						เดือน
	    					</div>
	    					<div class="ml-auto">
	    						<img class="dropdown-saison-img payment-period-detail-saisonlogo img-fluid my-0" src="/static/img/saison_credit.png">
	    					</div>
	    				</div>
	    				<div v-for="period in tabs_list.list">
	    					<div class="middle-horizontal-line-dashed my-3"></div>
	    					<div class="d-flex justify-content-center justify-content-md-start flex-wrap flex-md-wrap" >
		    					<div class="payment-period-detail-col-1 desktop"></div>
		    					<div class="payment-period-detail-col-2 payment-period-detail-col-2-2 blue-text transaction-detail-subtitle">
		    						งวดที่ 
		    						{{period.list}}
		    					</div>
		    					<div class="payment-period-detail-col-3 transaction-detail-subtitle">
		    						ดอกเบี้ย
		    					</div>
		    					<div class="payment-period-detail-col-4 transaction-detail-subtitle">
		    						{{period.interest}}
		    					</div>
		    					<div class="payment-period-detail-col-5 subunit">
		    						บาท / เดือน
		    					</div>
		    				</div>
		    				<div class="d-flex justify-content-center justify-content-md-start flex-wrap flex-md-wrap">
		    					<div class="payment-period-detail-col-1 desktop"></div>
		    					<div class="payment-period-detail-col-2 payment-period-detail-col-2-3"></div>
		    					<div class="payment-period-detail-col-3 blue-text transaction-detail-subtitle">
		    						ยอดชำระ
		    					</div>
		    					<div class="payment-period-detail-col-4 transaction-detail-subtitle green-text">
		    						{{period.total_amount}}
		    					</div>
		    					<div class="payment-period-detail-col-5 subunit">
		    						บาท / เดือน
		    					</div>
		    				</div>
	    				</div>
	    				
	    			</div>
	    			<div class="saison-banner payment-selection-saison-banner d-flex flex-row justify-content-around align-items-center"></div>
    			</div>
    			<div class="payment-selection-shop" v-if="payment_dropdown_selected == 1">
    				<div class="payment-selection-shop-item card p-4 my-4 flex-md-nowrap" @click="payment_shop_selected_id = shop_credit_item.id" :class="payment_shop_selected_id == shop_credit_item.id?'active':''" v-for="shop_credit_item in dropdown_shop_credit">
    					<div class="row justify-content-between">
    						<div class="col-12 col-md-6 order-md-2">
    							<div class="d-flex align-items-center justify-content-between flex-wrap flex-md-nowrap h-100">
    								<div class="transaction-detail-title">{{shop_credit_item.name}}</div>
    								<span class="middle-vertical-line-dashed h-100 desktop"></span>
    								<div class="middle-horizontal-line-dashed w-100 my-3 mobile"></div>
    							</div>
    						</div>
    						<div class="col-6 col-md-3 order-md-1">
    							<div class="d-flex align-items-center justify-content-between h-100">
    								<img :src="shop_credit_item.img">
    								<span class="middle-vertical-line-dashed h-100 desktop"></span>
    							</div>
    						</div>
    						<div class="col-6 col-md-3 order-md-3">
    							<div class="d-flex align-items-center justify-content-center justify-content-md-between h-100">
    								<div class="transaction-detail-title blue-text">เครดิต {{shop_credit_item.credit_day}} วัน</div>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="saison-banner payment-selection-saison-banner d-flex flex-column justify-content-center align-items-center" v-if="payment_dropdown_selected == -1">
    			</div>
    			<!-- Button next -->
    			<div class="container" v-if="chkSelect" style="position: fixed;left: 50%;bottom: 0;width: 100%;padding: 3rem 2.5rem;transform: translateX(-50%);">
	    			<button @click="toJVlogin"  class="clickable d-flex align-items-center con-button transaction-detail-confirm-btn px-4 px-md-5 mr-auto mr-md-0 ml-auto">
				       <div class="transaction-detail-confirm-text mr-4">
				           ถัดไป
				       </div>
				       <div class="transaction-detail-confirm-icon icon-Ar_Right_1"></div>
	    			</button>
    			</div>
    			<div class="py-5"></div>
    			<div class="py-5"></div>
    			<div class="py-3"></div>
			</div>
		</main>
    </div>
</template>

<script>
export default {
    name: 'PaymentSelection',
    data: function(){
        return {
            payment_dropdown: null,
            payment_dropdown_list: [],
            payment_dropdown_text:"เลือกการชำระ",
            payment_dropdown_selected:-1,
            items_list: [],
            select_item: [],
            tabs_list: [],
            tabs_active: 0,
            chkSelect: false,
            dropdown_shop_credit: [],
            payment_shop_selected_id : -1,
        }
    },
    methods: {
        toCreditList: function(e) {
            history.back();
        },
        toCreditTransactionDetail: function(){
            this.$router.push('/transactiondetail');
        },
        toJVlogin: function(){
        	// this.$router.push('/jvlogin');
        	this.$router.push('/paymentdetail');
        },
        getInstallmentInfo: function(gitem){
        	var self = this;
        	$.ajax({
                type: "POST",
                datatype: 'json',
                url: self.$api + "transaction/?act=get_installment_info",
                data: {
                	customer_tax_no: window.localStorage.getItem('tax_no'),
                	dealer_code: gitem.dealer_code,
                	amount: gitem.total_amount
                },
                success: function(data) {
                    var jdata = JSON.parse(data);
                    if(jdata.status == 200){
                        self.select_item =  jdata.items.products;
                    } else {
                        return false; 
                    }
                },
                error: function(jdata){
                    return false;
                }
            });
        },
        selectTabs: function(number, id, monthly, annual, amount, total){
        	var self = this;
        	var item = [];
        	if(id == 1){
        		item = {
	        		number_of_installments: number,
	        		monthly_interest_rate: monthly, 
	        		installment_amount: amount,
	        		list: [
	        			{
		        			list: 1,
		        			interest: '300.00',
		        			total_amount: '300,000.00'
	        			}
	        		]
	        		
	        	};
	        	window.localStorage.setItem('product_id', id);
	        	window.localStorage.setItem('payment_list', JSON.stringify(item));
	        	window.localStorage.setItem('number_of_installments', number);
	        	window.localStorage.setItem('annual_interest_rate', annual);
	        	window.localStorage.setItem('monthly_interest_rate', monthly);
	        	window.localStorage.setItem('installment_amount', amount);
	        	window.localStorage.setItem('total_amount', total);
	        	self.tabs_active = 0;
	        	self.tabs_list = item;
        	} else if(id == 2){
	        	item = {
	        		number_of_installments: number,
	        		monthly_interest_rate: monthly, 
	        		installment_amount: amount,
	        		list: [
	        			{
		        			list: 1,
		        			interest: '500.00',
	        				total_amount: '500,000.00'
	        			},
	        			{
		        			list: 2,
		        			interest: '1,500.00',
	        				total_amount: '500,000.00'
	        			},
	        			{
		        			list: 3,
		        			interest: '3,000.00',
	        				total_amount: '500,000.00'
	        			},
	        		]
	        		
	        	};
	        	window.localStorage.setItem('product_id', id);
	        	window.localStorage.setItem('payment_list', JSON.stringify(item));
	        	window.localStorage.setItem('number_of_installments', number);
	        	window.localStorage.setItem('annual_interest_rate', annual);
	        	window.localStorage.setItem('monthly_interest_rate', monthly);
	        	window.localStorage.setItem('installment_amount', amount);
	        	window.localStorage.setItem('total_amount', total);
	        	self.tabs_active = 1;
	        	self.tabs_list = item;
        	} else if(id == 3){
        		item = {
	        		number_of_installments: number,
	        		monthly_interest_rate: monthly, 
	        		installment_amount: amount,
	        		list: [
	        			{
		        			list: 1,
		        			interest: '100.00',
	        				total_amount: '1,000,000.00'
	        			},
	        			{
		        			list: 2,
		        			interest: '1,500.00',
	        				total_amount: '1,000,000.00'
	        			},
	        			{
		        			list: 3,
		        			interest: '3,000.00',
	        				total_amount: '1,000,000.00'
	        			},
	        			{
		        			list: 4,
		        			interest: '4,500.00',
	        				total_amount: '1,000,000.00'
	        			},
	        			{
		        			list: 5,
		        			interest: '5,000.00',
	        				total_amount: '1,000,000.00'
	        			},
	        			{
		        			list: 6,
		        			interest: '6,500.00',
	        				total_amount: '1,000,000.00'
	        			},
	        		]
	        	};
	        	window.localStorage.setItem('product_id', id);
	        	window.localStorage.setItem('payment_list', JSON.stringify(item));
	        	window.localStorage.setItem('number_of_installments', number);
	        	window.localStorage.setItem('annual_interest_rate', annual);
	        	window.localStorage.setItem('monthly_interest_rate', monthly);
	        	window.localStorage.setItem('installment_amount', amount);
	        	window.localStorage.setItem('total_amount', total);
	        	self.tabs_active = 2;
	        	self.tabs_list = item;
        	}
        	
        },
        paymentDropdownSelect: function(value){
        	var self = this;
        	self.payment_dropdown_text = value.name;
        	self.payment_dropdown_selected = value.id;
        	if(value.id == 3){
        		self.chkSelect = true;
        		self.selectTabs(1, 1, 0, 1000000);
        	} else if (value.id == 1){
        		self.selectTabsShopCredit();
        		self.chkSelect = false;	
        	} else {
        		self.chkSelect = false;	
        	}
        },
        selectTabsShopCredit: function(){
        	var self = this;
        	var item = [];
        	//
        	item = {
	        		items: [
	        			{
		        			id: 1,
		        			name: 'ร้านซูปเปอร์คอน',
		        			credit_day: 30,
		        			img: 'https://placehold.it/140x56'
	        			},
	        			{
	        				id: 2,
	        				name: 'กิมยงฮวด',
	        				credit_day: 45,
	        				img: 'https://placehold.it/140x56'
	        			},
	        			{
	        				id: 3,
	        				name: 'scg',
	        				credit_day: 15,
	        				img: 'https://placehold.it/140x56'
	        			}
	        		]
	        		
	        	};
	        self.dropdown_shop_credit = item.items;
        }
    },
    beforeCreate: function(){
        loaderOn();
    },
    mounted: function(){
    	var self = this;
        splashScreenOff();
        loaderOff();
        this.$nextTick(function() { 
        	self.payment_dropdown = new DropDown( $('#payment_dropdown'));
        	self.items_list = JSON.parse(window.localStorage.getItem('itemlist'));
			$.ajax({
                type: "GET",
                datatype: 'json',
                url: self.$api + "transaction/?act=credit_type",
                success: function(data) {
                    var jdata = JSON.parse(data);
                    if(jdata.status == 200){
                        self.payment_dropdown_list = jdata.items;
                        self.getInstallmentInfo(self.items_list);
                    } else {
                        return false; 
                    }
                },
                error: function(jdata){
                    return false;
                }
            });
            //self.selectTabs(1, 1);
        });
    },
    updated: function(){
    	var self = this;
    	this.$nextTick(function() { 
    		self.payment_dropdown = new DropDown( $('#payment_dropdown'));
    	});
    }
}

</script>