<template>
    <div id="transaction_detail" class="gray-bg">
		<header>
			<button @click="toCreditList" id="creditlist-back">
				<span class="header-icon icon-Ar_Left_1" ></span>
				<!--<span class="header-text desktop">หน้าหลัก</span>-->
			</button>
			<div class="header-title">
				รายการใช้จ่าย
			</div>
			<button>
			</button>
		</header>
		<main>
			<div class="con-noti-bar" v-if="transaction_noti" :class="(delay_noti == true)? 'active': ''">
		       <div class="con-noti-bar-maker rounded-circle green-bg d-flex justify-content-center align-items-center mr-4">
		       		<div class="icon-B_True white-text"></div>
	       	   </div>
		       <div>ยืนยันการซื้อเรียบร้อย</div>
		    </div>
			<div class="under-header-card d-flex flex-column align-items-center">
			    <div class="under-header-creditid">{{items_list.order_number}} </div>
			    <div class="pb-5">
			        <span class="under-header-shopname">
			            {{items_list.shop_name}}
			        </span>
			        <span class="under-header-location">
			           {{items_list.shop_billing_address}}
			        </span>
			    </div>
			</div>
			<div class="container mw-mobile-100">
				<!-- Tabs Step -->
			    <div class="transaction-detail-status">
    			    <div class="transaction-detail-status-item" :class="(chk_step >= 1)? 'active': ''">
    			        <div class="transaction-detail-status-icon icon-DS_Wait" :class="(items_list.process_status == 8)? 'confirm-icon' : ''"></div>
    		            <div class="transaction-detail-status-text mt-3" v-if="items_list.process_status == 1">
    		                รอการยืนยัน
    		            </div>
    		            <div class="transaction-detail-status-text mt-3" v-if="items_list.process_status != 1">
    		                ยืนยันแล้ว
    		            </div>
    			    </div>
    			    <div class="transaction-detail-status-item" :class="(chk_step >= 2)? 'active': ''">
    			        <div class="transaction-detail-status-icon icon-DS_Prepared" :class="(items_list.process_status == 6)? 'overlimit-icon' : ''"></div>
    		            <div class="transaction-detail-status-text mt-3" :class="(items_list.process_status == 6)? 'overlimit-txt' : ''">
    		                รอวันจัดส่ง
    		            </div>
    			    </div>
    			    <div class="transaction-detail-status-item" :class="(chk_step >= 3)? 'active': ''">
    			        <div class="transaction-detail-status-icon icon-Ds_Dalivering"></div>
    		            <div class="transaction-detail-status-text mt-3">
    		                พร้อมจัดส่ง
    		            </div>
    			    </div>
    			    <div class="transaction-detail-status-item" :class="(chk_step >= 4)? 'active': ''">
    			        <div class="transaction-detail-status-icon icon-DS_Credit" :class="(items_list.process_status == 5)? 'complete-icon' : 'finish-icon'"></div>
    		            <div class="transaction-detail-status-text mt-3 finish-txt">
    		                เสร็จสิ้น
    		            </div>
    			    </div>
    			</div>
    			<div class="card transaction-detail-info d-flex flex-row flex-md-nowrap mb-5">
    			    <div class="row w-100 pr-0">
    			        <div class="col-12 col-md-6 d-flex">
        			        <div class="transaction-detail-info-icon icon-Icon_vendor mr-2 mr-md-4"></div>
        			        <div>
        			            <div class="transaction-detail-title">
        			                พนักงานขาย
        			            </div>
        			            <div class="transaction-detail-description">{{items_list.sale_name}}</div>
        			        </div>
        			    </div>
        			    <div class="absolute-middle-vertical-line-dashed desktop"></div>
        			    <div class="col-12 pr-0 mobile">
        			        <div class="middle-horizontal-line-dashed my-4 mobile"></div>
        			    </div>
        			    <div class="col-12 col-md-6 d-flex">
        			        <div class="transaction-detail-info-icon icon-Icon_Delivery mr-2 mr-md-4"></div>
        			        <div v-if="(chk_step == 2 || chk_step == 1)">
        			            <div class="transaction-detail-title">
        			                วันที่จัดส่ง
        			            </div>
        			            <div class="transaction-detail-description">{{items_list.date_delivered}}</div>
        			        </div>
        			        <div v-if="(chk_step == 3 || chk_step == 4)">
        			            <div class="transaction-detail-title">
        			                ครบกำหนดชำระรอบถัดไป
        			            </div>
        			            <div class="transaction-detail-description">{{items_list.date_delivered}}</div>
        			        </div>
        			    </div>
    			    </div>
    			</div>
    			<div class="my-3 p-1" v-if="step_2"></div>
    			<div class="d-flex con-tab mt-4" v-if="step_2 || step_3 || step_4">
    				<div @click="tab_1 = true; tab_2 = false;" class="d-flex justify-content-center align-items-center w-50 con-tab-item transaction-detail-title" :class="(tab_1 == true)?'active':''">
    					รายการสินค้า
    				</div>
    				<div @click="tab_1 = false; tab_2 = true;" class="d-flex justify-content-center align-items-center w-50 con-tab-item transaction-detail-title" :class="(tab_2 == true)?'active':''">
    					การชำระเงิน
    				</div>
    			</div>
    			<div id="tab_1" class="" v-if="tab_1 == true">
    				<div class="card saison-ng-card" v-if="(step_2 == true && items_list.process_status == 6)">
	    				<div class="d-flex align-items-center">
	    					<div class="icon-ICO_Credit red-text transaction-detail-description"></div>
	    					<div class="transaction-detail-title red-text ml-3">เกินวงเงินเครดิต</div>
	    				</div>
	    				<div class="black-text transaction-detail-description">
	    					การขอผ่อนชำระเกินวงเงินเครดิตที่ได้กรุณาติดต่อ SAISON เพื่อขออณุมัติเพิ่ม
	    				</div>
	    				<div class="black-text transaction-detail-description">
	    					โทร : <a href="#" class="lightblue-text"><u>099-444-5555</u></a> <span> (** ติดต่อได้ตลอด 24 ชั่วโมง **) </span>
	    				</div>
	    			</div>
	    			<div class="transaction-detail-title mt-5 pt-4 px-3" v-if="step_2">
	    			    สถานที่และวันจัดส่ง
	    			</div>
	    			<hr v-if="step_2">
	    			<div class="card w-100 px-3 py-4" v-if="step_2">
	    				<div class="d-flex">
	    					<div class="transaction-logistic-col-1 d-flex align-items-center">
	    						<div class="icon-Ds_Dalivering transaction-detail-description lightblue-text text-center"></div>
	    					</div>
	    					<div class="transaction-detail-title">
	    						วันที่จัดส่ง
	    					</div>
	    					<div class="ml-auto mr-4 d-flex align-items-center">
	    						<div>
	    							<div class="icon-Ds_Dalivering transaction-detail-subtitle greypale-text"></div>
	    						</div>
	    						<div class="transaction-detail-subtitle ml-3 greypale-text">
	    							รอวันจัดส่ง
	    						</div>
	    					</div>
	    				</div>
	    				<div class="middle-horizontal-line-dashed my-3"></div>
	    				<div class="d-flex">
	    					<div class="transaction-logistic-col-1">
	    						
	    					</div>
	    					<div>
	    						<div class="transaction-detail-subtitle darkblue-text">
	    							วันที่จัดส่ง 
	    							{{items_list.date_delivered}}
	    						</div>
	    						<div class="transaction-detail-description darkblue-text">{{items_list.customer_billing_address}}</div>
							</div>
						</div>
						<div class="middle-horizontal-line-dashed my-3"></div>
	    				<div class="d-flex">
	    					<div class="transaction-logistic-col-1">
	    						
	    					</div>
	    					<div>
	    						<div class="transaction-detail-subtitle darkblue-text">
	    							หมายเหตุ
	    						</div>
	    						<div class="transaction-detail-description darkblue-text">{{(items_list.note == '')? '-' : items_list.note}}</div>
							</div>
						</div>
	    			</div>
	    			<!-- Show all -->
	    			<div class="transaction-detail-title mt-5 pt-4 px-3">
	    			    สินค้า {{items_list.num_prod}} รายการ
	    			</div>
	    			<hr>
	    			<div class="transaction-detail-productlist">
	    			    <div class="transaction-detail-productlist-item" v-for="(items, index) in items_list.products">
	    			        <div class="row">
	            			    <div class="col-md-8 transaction-detail-productlist-info">
	            			        <div class="transaction-detail-title deepblue-text px-3">{{items.name}}</div>
	            			        <div class="d-flex align-items-center">
	                			         <div class="transaction-detail-title transaction-detail-fixed-title-width px-3">
	                			             ราคา
	                			         </div>
	                			         <div class="subunit">
	                			             บาท / {{items.unit}}
	                			         </div>
	                			         <div class="transaction-detail-subprice ml-auto">{{items.price}}</div>
	            			        </div>
	            			        <div class="d-flex  align-items-center">
	                			         <div class="transaction-detail-title transaction-detail-fixed-title-width px-3">
	                			             ปริมาณ
	                			         </div>
	                			         <div class="subunit">{{items.unit}}</div>
	                			         <div class="transaction-detail-subprice ml-auto">{{items.qty}}</div>
	            			        </div>
	            			    </div>
	            			    <div class="col-6 mobile"></div>
	            			    <div class="col-6 col-md-4 transaction-detail-productlist-price">
	            			        <div class="card d-flex flex-column justify-content-between py-2 py-md-4 px-3 h-100">
	            			            <div class="d-flex justify-content-between">
	            			                <div class="transaction-detail-subtitle">
	            			                    ราคารวม
	            		                    </div>
	            		                    <div class="unit">
	            		                        บาท
	            		                    </div>
	            			            </div>
	            			            <div class="transaction-detail-price text-right">
	            			                {{items.net_amount}}
	            			            </div>
	            			        </div>
	            			    </div>
	        			    </div>
	        			    <hr>
	    			    </div>
	    			</div>
	    			<div class="transaction-detail-price row mx-0 justify-content-end">
	    			    <div class="card col-md-6 py-4 px-5 px-md-4 pr-md-5">
	    			        <div class="d-flex">
	        			         <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">
	        			             ราคารวม
	        			         </div>
	        			         <div class="unit">
	        			             บาท
	        			         </div>
	        			         <div class="transaction-detail-price ml-auto">{{items_list.net_amount}}</div>
	    			        </div>
	    			        <div class="d-flex">
	        			         <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">
	        			             ส่วนลด
	        			         </div>
	        			         <div class="unit">
	        			             บาท
	        			         </div>
	        			         <div class="transaction-detail-price ml-auto">- {{items_list.discount_value}}</div>
	    			        </div>
	    			        <div class="d-flex">
	        			         <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">
	        			             ค่าจัดส่ง
	        			         </div>
	        			         <div class="unit">
	        			             บาท
	        			         </div>
	        			         <div class="transaction-detail-price ml-auto">{{items_list.delivery_cost}}</div>
	    			        </div>
	    			        <div class="d-flex">
	        			         <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">
	        			             ราคาสินค้า
	        			         </div>
	        			         <div class="unit">
	        			             บาท
	        			         </div>
	        			         <div class="transaction-detail-price ml-auto">{{items_list.totalAservice}}</div>
	    			        </div>
	    			        <div class="d-flex">
	        			         <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">
	        			             ภาษี 7%
	        			         </div>
	        			         <div class="unit">
	        			             บาท
	        			         </div>
	        			         <div class="transaction-detail-price ml-auto">{{items_list.total_vat}}</div>
	    			        </div>
	    			        <div class="d-flex transaction-detail-price-summary align-items-center">
	        			         <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">
	        			             ราคาสุทธิ
	        			         </div>
	        			         <div class="unit">
	        			             บาท
	        			         </div>
	        			         <div class="transaction-detail-price ml-auto">{{items_list.total_amount}}</div>
	    			        </div>
	    			        <!--<div class="d-flex transaction-detail-price-summary align-items-center">-->
	        			    <!--     <div class="transaction-detail-subtitle transaction-detail-fixed-subtitle-width mr-3 text-md-right">-->
	        			    <!--         ราคารวม-->
	        			    <!--     </div>-->
	        			    <!--     <div class="unit">-->
	        			    <!--         บาท-->
	        			    <!--     </div>-->
	        			    <!--     <div class="transaction-detail-price ml-auto">-->
	        			    <!--         10,000-->
	        			    <!--     </div>-->
	    			        <!--</div>-->
	    			    </div>
	    			</div>
	    			<hr class="mt-5 mb-3 mobile">
	    			<div class="d-flex align-items-center px-4 mobile" v-if="(chk_step == 2 || chk_step == 1)">
	    				<div class="transaction-detail-mobile-date-icon icon-Icon_Delivery mr-3"></div>
	    				<div class="transaction-detail-mobile-date">วันที่จัดส่ง</div>
	    				<div class="transaction-detail-mobile-date ml-auto">{{items_list.date_delivered}}</div>
	    			</div>
	    			<!--<div class="d-flex align-items-center px-4 mobile" v-if="($route.params.step == 3 || $route.params.step == 4)">-->
	    			<!--	<div class="transaction-detail-mobile-date-icon icon-Icon_Delivery mr-3"></div>-->
	    			<!--	<div class="transaction-detail-mobile-date">ครบกำหนดชำระรอบถัดไป</div>-->
	    			<!--	<div class="transaction-detail-mobile-date ml-auto">{{items_list.date_delivered}}</div>-->
	    			<!--</div>-->
    			</div>
    			<div id="tab_2" class="" v-if="tab_2 == true">
    				<div class="d-flex flex-row justify-content-between w-100 px-4 py-5">
	    			    <div>
	    			        <div class="transaction-detail-title">
	    			            ชำระผ่าน: เครดิต Saison
	    			        </div>
	    			        <div class="transaction-detail-title deepblue-text" v-if="items_list.payment_type_detail.number_of_installments == 0">
	    			            ชำระเต็มจำนวน
	    			        </div>
	    			        <div class="transaction-detail-title deepblue-text" v-if="items_list.payment_type_detail.number_of_installments > 0">
	    			            ผ่อนชำระ {{items_list.payment_type_detail.number_of_installments}} เดือน
	    			        </div>
	    			    </div>
	    			    <div>
	    			        <img class="payment-detail-in-card-img" src="/static/img/saison_credit.png">
	    			    </div>
	    			</div>
				</div>
    			<div class="py-4 py-md-5"></div>
    			<div class="container" 
    			v-if="((items_list.status == 3 || items_list.status == 4 || items_list.status == 5) && items_list.process_status != 8 && chk_step == 1)"
    			style="position: fixed;left: 50%;bottom: 0;width: 100%;padding: 3rem 2.5rem;transform: translateX(-50%);">
    				
	    			<button @click="toPaymentSelection" class="clickable d-flex align-items-center con-button transaction-detail-confirm-btn px-4 px-md-5 mr-auto mr-md-0 ml-auto">
	    			    <div class="transaction-detail-confirm-icon icon-DS_Wait"></div>
				       <div class="transaction-detail-confirm-text ml-4">
				           ยืนยันรายการสั่งซื้อ
				       </div>
	    			</button>
    			</div>
    			<!-- Confirm -->
    			<div class="container box-confirmList" v-if="(step_1 == true && items_list.process_status == 8)">
    				<button type="button" class="btn-confirmList" @click="confirmList"><i class="icon-Ds_Select_Pay"></i>เลือกประเภทการจ่าย</button>
    			</div>
    			<!-- Back to list -->
    			<div class="container box-back-to-list" v-if="(step_2 == true || chk_step == 4)">
    				<button type="button" class="btn-backToList" @click="backToList"><i class="icon-Ar_Left_1"></i>กลับหน้ารายการ</button>
    			</div>
    			<!-- Recive -->
    			<div class="container box-delivered" v-if="(step_3 == true && chk_step == 3)">
					<button type="button" class="btn-delivered" @click="delivered"><i class="icon-Ds_Dalivering"></i>ยืนยันการรับ</button>
    			</div>
    			
    			<div class="py-5"></div>
    			<div class="py-3"></div>
			</div>
		</main>
		<!-- Popup overlimit -->
		<div class="popup-overlimit" v-if="(step_2 == true && items_list.process_status == 6 && overlimit == false)">
			<div class="popup-overlimit-box">
				<div class="title">เกินวงเงินเครดิต</div>
				<div class="info">
					การขอผ่อนชำระที่คุณเกินวงเงินเครดิต
ที่คุณได้รับกรุณาติดต่อ SAISON 
เพื่อขออณุมัติเพิ่มเป็นกรณีพิเศษ
				</div>
				<div class="tel">
					โทร : <a href="tel:0994445555">099-444-5555</a> (** ติดต่อได้ตลอด 24 ชั่วโมง **)
				</div>
				<button type="button" class="popup-overlimit-btn-confirm" @click="closePopupOverlimit">รับทราบ <i class="icon-Ar_Right_2"></i></button>
			</div>
		</div>
    </div>
</template>

<script>
export default {
    name: 'TransactionDetail',
    data: function(){
        return {
            transaction_id: '',
            //step_id: this.$route.params.step,
			items_list: [],
			dealer_code: "",
			step_1: false,
			step_2: false,
			step_3: false,
			step_4: false,
			overlimit: false,
			tab_1: true,
			tab_2: false,
			transaction_noti: false,
			delay_noti: false,
			chk_step: ''
        }
    },
    created() {
        this.transaction_id = this.$route.params.id;
    },
    beforeCreate: function(){
        loaderOn();
    },
    mounted: function(){
    	var self = this;
        splashScreenOff();
        loaderOff();
        this.$nextTick(function() { 
			$.ajax({
                type: "GET",
                datatype: 'json',
                url: self.$api + "transaction/"+self.transaction_id+"?act=detail&"+Math.floor(Math.random() * 10000),
                success: function(data) {
                    var jdata = JSON.parse(data);
                    if(jdata.status == 200){
                        self.items_list = jdata.items;
                        self.dealer_code = jdata.items.dealer_code;
                        if(jdata.items.process_status == 2 || jdata.items.process_status == 6){
                        	self.chk_step = 2;
                        	self.step_2 = true;
                        } else if(jdata.items.process_status == 3){
                        	self.chk_step = 3;
                        	self.step_3 = true;
                        } else if(jdata.items.process_status == 4 || jdata.items.process_status == 5){
                        	self.chk_step = 4;
                        	self.step_4 = true;
                        } else {
                        	self.chk_step = 1;
                        	self.step_1 = true;
                        }
                    } else {
                        return false; 
                    }
                },
                error: function(jdata){
                    return false;
                }
            });
            $.ajax({
                type: "POST",
                datatype: 'json',
                url: self.$api + "transaction/"+ self.transaction_id  +"/?act=opened&" + Math.floor(Math.random() * 10000),
                success: function(data) {
                    var jdata = JSON.parse(data);
                    if(jdata.status == 200){
                    	return true;
                    } else {
                        return false; 
                    }
                },
                error: function(jdata){
                    return false;
                }
            });
        });
    },
    methods: {
        toCreditList: function(e) {
            this.$router.push('/transactionlist');
        },
        toPaymentSelection: function(stepId){
        	var self = this;
        	$.ajax({
                type: "POST",
                datatype: 'json',
                url: self.$api + "transaction/?act=customer_approve",
                data:{
                	transaction_id: self.transaction_id,
                	customer_id: window.localStorage.getItem('customer_id')
                },
                success: function(data) {
                    var jdata = JSON.parse(data);
                    if(jdata.status == 200){
                    	window.localStorage.setItem('itemlist', JSON.stringify(self.items_list));
                    	window.localStorage.setItem('transaction_id', self.transaction_id);
                    	self.$router.push('/paymentselect');
                    } else {
                        return false; 
                    }
                },
                error: function(jdata){
                    return false;
                }
            });
        },
        backToList: function(){
        	this.$router.push('/transactionlist');
        },
        closePopupOverlimit: function(){
        	var self = this;
        	self.overlimit = true;
        },
        delivered: function(){
        	var self = this;
        	self.transaction_noti = true;
        	$.ajax({
                type: "POST",
                datatype: 'json',
                url: self.$api + "transaction/?act=customer_delivered",
                data:{
                	transaction_id: self.transaction_id,
                	customer_id: window.localStorage.getItem('customer_id')
                },
                success: function(data) {
                    var jdata = JSON.parse(data);
                    if(jdata.status == 200){
                    	setTimeout(function(){
			        		self.delay_noti = true;
			        		setTimeout(function(){ self.delay_noti = false;self.transaction_noti = false; }, 3000);
			        	}, 100);
			        	self.chk_step = 4;
                        self.step_4 = true;
			        	self.$router.push({name:'TransactionDetail',params:{id:self.transaction_id}});  
                    	// self.$router.push({name:'TransactionDetail',params:{id:self.transaction_id, step:4}});  
                    } else {
                        return false; 
                    }
                },
                error: function(jdata){
                    return false;
                }
            });
        },
        confirmList: function(){
        	var self = this;
        	window.localStorage.setItem('itemlist', JSON.stringify(self.items_list));
        	window.localStorage.setItem('transaction_id', self.transaction_id);
        	window.localStorage.setItem('dealer_code', self.dealer_code);
        	this.$router.push('/paymentselect');
        }
    },
    
}
// export default {
//     name: 'TransactionDetail',
//     data: function(){
//         return {
//             transaction_id: '',
//             step_id: this.$route.params.step,
// 			items_list: [],
// 			dealer_code: "",
// 			step_1: false,
// 			step_2: false,
// 			step_3: false,
// 			step_4: false,
// 			overlimit: false,
// 			tab_1: true,
// 			tab_2: false,
// 			transaction_noti: false,
// 			delay_noti: false
//         }
//     },
//     created() {
//         this.transaction_id = this.$route.params.id;
//     },
//     beforeCreate: function(){
//         loaderOn();
//     },
//     mounted: function(){
//     	var self = this;
//         splashScreenOff();
//         loaderOff();
//         this.$nextTick(function() { 
// 			$.ajax({
//                 type: "GET",
//                 datatype: 'json',
//                 url: self.$api + "transaction/"+self.transaction_id+"?act=detail&"+Math.floor(Math.random() * 10000),
//                 success: function(data) {
//                     var jdata = JSON.parse(data);
//                     if(jdata.status == 200){
//                         self.items_list = jdata.items;
//                         self.dealer_code = jdata.items.dealer_code;
//                     } else {
//                         return false; 
//                     }
//                 },
//                 error: function(jdata){
//                     return false;
//                 }
//             });
//             if(self.step_id == 2) {
// 	    		self.step_2 = true;
// 	    	} else if(self.step_id == 3) {
// 	    		self.step_3 = true;
// 	    	} else if(self.step_id == 4) {
// 	    		self.tab_1 = false;
// 	    		self.tab_2 = true;
// 	    		self.step_4 = true;
// 	    	} else {
// 	    		self.step_1= true;
// 	    		self.step_2 = false;
// 	    		self.step_3 = false;
// 	    		self.step_4 = false;
// 	    	}
//         });
//     },
//     methods: {
//         toCreditList: function(e) {
//             //this.$router.go(-1);
//             this.$router.push('/transactionlist');
//         },
//         toPaymentSelection: function(stepId){
//         	var self = this;
//         	$.ajax({
//                 type: "POST",
//                 datatype: 'json',
//                 url: self.$api + "transaction/?act=customer_approve",
//                 data:{
//                 	transaction_id: self.transaction_id,
//                 	customer_id: window.localStorage.getItem('customer_id')
//                 },
//                 success: function(data) {
//                     var jdata = JSON.parse(data);
//                     if(jdata.status == 200){
//                     	window.localStorage.setItem('itemlist', JSON.stringify(self.items_list));
//                     	window.localStorage.setItem('transaction_id', self.transaction_id);
//                     	// window.localStorage.setItem('dealer_code', self.dealer_code);
//                     	self.$router.push('/paymentselect');
//                     } else {
//                         return false; 
//                     }
//                 },
//                 error: function(jdata){
//                     return false;
//                 }
//             });
//             // this.$router.push('/paymentselect');
//             // this.$router.push({name:'TransactionDetail',params:{id:self.transaction_id, step:stepId}});  
//             // self.step_1 = false;
//             // self.step_2 = true;
//         },
//         backToList: function(){
//         	this.$router.push('/transactionlist');
//         	// var self = this;
//         	// this.$router.push({name:'TransactionDetail',params:{id:self.transaction_id, step:1}});  
//         	// self.step_1 = true;
//         	// self.step_2 = false;
//         },
//         closePopupOverlimit: function(){
//         	var self = this;
//         	self.overlimit = true;
//         },
//         delivered: function(){
//         	var self = this;
//         	self.transaction_noti = true;
//         	$.ajax({
//                 type: "POST",
//                 datatype: 'json',
//                 url: self.$api + "transaction/?act=customer_delivered",
//                 data:{
//                 	transaction_id: self.transaction_id,
//                 	customer_id: window.localStorage.getItem('customer_id')
//                 },
//                 success: function(data) {
//                     var jdata = JSON.parse(data);
//                     if(jdata.status == 200){
//                     	setTimeout(function(){
// 			        		self.delay_noti = true;
// 			        		setTimeout(function(){ self.delay_noti = false;self.transaction_noti = false; }, 3000);
// 			        	}, 100);
//                     	self.$router.push({name:'TransactionDetail',params:{id:self.transaction_id, step:4}});  
//                     } else {
//                         return false; 
//                     }
//                 },
//                 error: function(jdata){
//                     return false;
//                 }
//             });
//         },
//         confirmList: function(){
//         	var self = this;
//         	window.localStorage.setItem('itemlist', JSON.stringify(self.items_list));
//         	window.localStorage.setItem('transaction_id', self.transaction_id);
//         	window.localStorage.setItem('dealer_code', self.dealer_code);
//         	this.$router.push('/paymentselect');
//         }
//     },
    
// }
</script>