<template>
    <div id="transaction_list" class="gray-bg">
		<header>
			<button @click="toCreditList" id="creditlist-back">
				<span class="header-icon icon-ICO_Burger_menu" ></span>
				<span class="header-text desktop">หน้าหลัก</span>
			</button>
			<div class="header-title">
				รายการใช้จ่าย
			</div>
			<button>
			</button>
		</header>
		<main id="onscroll_page">
			<div class="under-header-card">
			    <span class="under-header-icon icon-Menu_List" >
				</span>
				<span class="under-header-title ml-4">{{total_list}} รายการ</span>
				<span class="ml-5">
					<input v-model="search_filter" v-on:keyup="searchFilter" type="text" name="transaction_list_search" id="transaction_list_search" class="transaction_list_search form-control transactionlist-id" placeholder="ค้นหา"/>
					<!--<div class=""></div>-->
				</span>
			</div>
			<section id="transactionlist-content" class="container max-tablet">
				<!-- Dropdown -->
				<div class="transactionlist-filter row" style="transform:translateX(0px)">
					<div class="transactionlist-filter-item col-6 col-md-4">
						<div class="d-flex flex-column">
							<div class="transactionlist-filter-title">
								สถานะรายการ
							</div>
							<div id="status-filter" class="con-dropdown-wrapper">
								<div class="con-dropdown-header clickable">{{process_txt}}</div>
								<div class="con-dropdown-options">
									<div class="con-dropdown-options-items" value="0" @click="changeProcess(0, 'ทั้งหมด')">ทั้งหมด</div>
									<div class="con-dropdown-options-items" :value="list_status.id" v-for="list_status in process_list" @click="changeProcess(list_status.id, list_status.name)">
										{{list_status.name}}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="transactionlist-filter-item col-6 col-md-4">
						<div class="d-flex flex-column">
							<div class="transactionlist-filter-title">
								รูปแบบการจ่าย
							</div>
							<div id="payment-filter" class="con-dropdown-wrapper">
								<div class="con-dropdown-header clickable">{{payment_txt}}</div>
								<div class="con-dropdown-options">
									<div class="con-dropdown-options-items" value="0" @click="changePayment(0, 'ทั้งหมด')">ทั้งหมด</div>
									<div class="con-dropdown-options-items" :value="payment_item.id" v-for="payment_item in payment_list" @click="changePayment(payment_item.id, payment_item.name)">{{payment_item.name}}</div>
								</div>
							</div>
						</div>
					</div>
					<div class="transactionlist-filter-item col-6 col-md-4">
						<div class="d-flex flex-column">
							<div class="transactionlist-filter-title">
								เดือนที่ทำรายการ
							</div>
							<div id="month-filter" class="con-dropdown-wrapper">
								<div class="con-dropdown-header clickable">{{date_txt}}</div>
								<div class="con-dropdown-options">
									<div class="con-dropdown-options-items" value="0-0" @click="changeDate(0, 0, 'ทั้งหมด')">ทั้งหมด</div>
									<div class="con-dropdown-options-items" v-for="date_item in date_list" 
									:value="date_item.month + '-' + date_item.year" 
									@click="changeDate(date_item.month, date_item.year, date_item.value)">
										{{date_item.value}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Header list -->
			    <div class="transactionlist-title-wrapper desktop">
			    	<div class="transactionlist-col-1">
			    		<div class="transactionlist-title">รายการค่าใช้จ่าย</div>
		    		</div>
		    		<div class="transactionlist-col-2">
			    		<div class="transactionlist-title">ราคารวม</div>
		    		</div>
		    		<div class="transactionlist-col-3">
			    		<div class="transactionlist-title">สถานะรายการ</div>
		    		</div>
		    		<div class="transactionlist-col-4">
			    		<div class="transactionlist-title">รูปแบบการจ่าย</div>
		    		</div>
			    </div>
			    <!-- Items list -->
			    <div class="transactionlist-wrapper" v-if="hide_data">
			    	<div @click="toCreditTransactionDetail(item.transaction_id, item.process_status)" class="transactionlist-item clickable waiting" 
			    		:class="(item.process_status == 2)? 'prepare' : (item.process_status == 3)? 'delivering' : (item.process_status == 6)? 'overlimit': (item.process_status == 4)? 'complete' : (item.process_status == 5)? 'paid' : (item.process_status == 7)? 'denide' : ''" 
			    		v-for="(item, index) in transaction_list">
			    		<div class="transactionlist-col-1">
			    			<div class="d-flex align-items-center">
			    				<div class="transactionlist-icon icon-transaction-status" :class="(item.process_status == 8)? 'process-icon-confirm': ''">
			    					<span class="noti-active" v-if="(item.isopened == 0)"></span>
			    				</div>
			    				<div class="d-flex flex-column align-items-left pl-3">
			    					<div class="transactionlist-datetime">{{item.doc_date}}</div>
			    					<div class="d-flex">
			    						<div class="transactionlist-type mr-2">{{item.status}}: </div>
			    						<div class="transactionlist-id">{{item.order_number}}</div>
			    					</div>
			    				</div>
			    			</div>
			    		</div>
			    		<div class="transactionlist-col-2">
			    			<div class="d-flex justify-content-between align-items-center w-100">
			    				<div class="transactionlist-price">{{item.total_amount}}</div>
			    				<div class="transactionlist-price-unit mobile">บาท</div>
			    			</div>
			    		</div>
			    		<div class="transactionlist-col-3">
			    			<div class="d-flex flex-column align-items-left align-items-md-center w-100 py-0 py-md-3 px-2 px-md-0">
			    				<div class="transactionlist-status-text">
			    					{{item.process_status_txt}}
			    				</div>
			    				<div class="transactionlist-status-wrapper mt-1 mt-md-4">
			    					<div class="transactionlist-status-1"></div>
			    					<div class="transactionlist-status-2"></div>
			    					<div class="transactionlist-status-3"></div>
			    					<div class="transactionlist-status-4"></div>
			    				</div>
		    				</div>
			    		</div>
			    		<div class="transactionlist-col-4">
			    			<div class="transactionlist-payment" :class="(item.payment_type == 0)? 'unspecified' : ''">{{item.payment_type_txt}}</div>
			    			<span v-if="(item.process_status == 6)? true : false" class="transactionlist-tag">{{item.process_status_txt}}</span>
			    		</div>
			    	</div>
			    </div>
			    <div class="transactionlist-no-data" v-if="no_data">
			    	<div><i class="icon-BS_QO_List"></i></div>
			    	<p>ไม่มีรายการสั่งซื้อ</p>
			    </div>
			</section>
		</main>
    </div>
</template>

<script>
export default {
    name: 'TransactionList',
    data: function(){
        return {
        	status_filter_dropdown: null,
            payment_filter_dropdown: null,
            month_filter_dropdown: null,
            total_list: 0,
            transaction_list: [],
            chk_page: 1,
            total_page: 1,
            chk_loading: false,
            process_list: [],
            payment_list: [],
            date_list: [],
            process_txt: 'ทั้งหมด',
            payment_txt: 'ทั้งหมด',
            date_txt: 'ทั้งหมด',
            save_process_id: 0,
            save_payment_id: 0,
            save_month: 0,
            save_year: 0,
            no_data: false,
            hide_data: true,
            search_filter: "",
        }
    },
    methods: {
        toCreditList: function(e) {
            this.$router.push('/menu');
        },
        toCreditTransactionDetail: function(id, step){
        	this.$router.push('/transactiondetail/'+id);
        	// if(step == 2 || step == 6) {
        	// 	this.$router.push('/transactiondetail/'+id);
        	// 	this.$router.push('/transactiondetail/'+id+'/2');
        	// } else if(step == 3){
        	// 	this.$router.push('/transactiondetail/'+id+'/3');
        	// } else if(step == 4 || step == 5){
        	// 	this.$router.push('/transactiondetail/'+id+'/4');
        	// } else {
        	// 	this.$router.push('/transactiondetail/'+id+'/1');
        	// }
        },
        scrollHorizontalDropdown :function(){
        	var x,left,down;
			$(".transactionlist-filter,.transactionlist-filter-item").on('touchstart',function(e){
			 	down=true;
				 x=e.touches[0].pageX;
			    left=parseInt($('.transactionlist-filter').css('transform').split(',')[4]);
			});
			$(window).on('touchmove',function(e){
			    if(down){
			        var newX=e.touches[0].pageX;
			        var sumx = (left+newX-x);
					if(( sumx <= 0 )&&( $(".transactionlist-filter").width() - $(window).width() + sumx >= -5 )){
			        	$(".transactionlist-filter").css('transform','translateX('+ (sumx) +'px)');    
			        }
			    }
			});
			$(window).on('touchend touchcancel',function(e){down=false;});
        },
        nextPage: function(){
        	var self = this;
        	var set_process = (self.save_process_id == 0)? '' : self.save_process_id;
        	var set_payment = (self.save_payment_id == 0)? '' : self.save_payment_id;
        	var set_month = (self.save_month == 0)? '' : self.save_month;
        	var set_year = (self.save_year == 0)? '' : self.save_year;
        	if(self.save_process_id == 0 && self.save_payment_id == 0 && self.save_month && self.save_year == 0){
        		if(self.total_page > self.chk_page && self.chk_loading == false) {
	        		self.chk_page += 1;
	        		self.chk_loading = true;
	        		$.ajax({
		                type: "GET",
		                datatype: 'json',
		                url: self.$api + "transaction/"+window.localStorage.getItem('customer_id')+"?act=list_by_customer&page=" + self.chk_page + "&"+Math.floor(Math.random() * 10000),
		                success: function(data) {
		                    var jdata = JSON.parse(data);
		                    if(jdata.status == 200){
		                        $.each(jdata.items, function(i, v){
		                        	self.transaction_list.push(v);
		                        });
		                        self.chk_loading = false;
		                        self.hide_data = true;
		                        self.no_data = false;
		                    } else {
		                    	self.total_list = 0;
		                    	self.hide_data = false;
		                    	self.no_data = true;
		                        return false; 
		                    }
		                },
		                error: function(jdata){
		                    return false;
		                }
		            });
	        	}
        	} else {
        		if(self.total_page > self.chk_page && self.chk_loading == false) {
	        		self.chk_page += 1;
	        		self.chk_loading = true;
	        		$.ajax({
		                type: "POST",
		                datatype: 'json',
		                url: self.$api + "transaction/"+window.localStorage.getItem('customer_id')+"?act=list_by_customer&page=" + self.chk_page + "&" + Math.floor(Math.random() * 10000),
		                data:{
		                	process_status: set_process,
		                	payment_type: set_payment,
		                	month: set_month,
		                	year: set_year
		                },
		                success: function(data) {
		                    var jdata = JSON.parse(data);
		                    if(jdata.status == 200){
		                        $.each(jdata.items, function(i, v){
		                        	self.transaction_list.push(v);
		                        });
		                        self.chk_loading = false;
		                        self.hide_data = true;
		                        self.no_data = false;
		                    } else {
		                    	self.total_list = 0;
		                    	self.hide_data = false;
		                    	self.no_data = true;
		                        return false; 
		                    }
		                },
		                error: function(jdata){
		                    return false;
		                }
		            });
	        	}
        	}
        	
        	
        },
        changeProcess: function(id, name){
        	var self = this;
        	self.chk_page = 1;
        	self.process_txt = name;
        	self.save_process_id = id;
        	
        	if(self.save_process_id == 0){
        		if(self.save_payment_id == 0 && self.save_month == 0 && self.save_year == 0 && self.search_filter == ""){
        			self.callApiAll();
        		} else {
        			self.callApiSet(self.save_process_id, self.save_payment_id, self.save_month, self.save_year, self.search_filter);
        		}
        	} else{
        		self.callApiSet(self.save_process_id, self.save_payment_id, self.save_month, self.save_year, self.search_filter);
        	}
        },
        changePayment: function(id, name){
        	var self = this;
        	self.chk_page = 1;
        	self.payment_txt = name;
        	self.save_payment_id = id;
        	
        	if(self.save_payment_id == 0){
        		if(self.save_payment_id == 0 && self.save_month == 0 && self.save_year == 0 && self.search_filter == ""){
        			self.callApiAll();
        		} else {
        			self.callApiSet(self.save_process_id, self.save_payment_id, self.save_month, self.save_year, self.search_filter);
        		}
        	} else{
        		self.callApiSet(self.save_process_id, self.save_payment_id, self.save_month, self.save_year, self.search_filter);
        	}
        },
        changeDate: function(monthData, yearData, name){
        	var self = this;
        	self.chk_page = 1;
        	self.date_txt = name;
        	self.save_month = monthData;
        	self.save_year = yearData;
        	
        	if(self.save_month == 0 && self.save_year == 0){
        		if(self.save_payment_id == 0 && self.save_month == 0 && self.save_year == 0 && self.search_filter == ""){
        			self.callApiAll();
        		} else {
        			self.callApiSet(self.save_process_id, self.save_payment_id, self.save_month, self.save_year, self.search_filter);
        		}
        	} else{
        		self.callApiSet(self.save_process_id, self.save_payment_id, self.save_month, self.save_year, self.search_filter);
        	}
        },
        callApiAll: function(){
        	var self = this;
        	$.ajax({
                type: "GET",
                datatype: 'json',
                url: self.$api + "transaction/"+window.localStorage.getItem('customer_id')+"?act=list_by_customer&" + Math.floor(Math.random() * 10000),
                success: function(data) {
                    var jdata = JSON.parse(data);
                    if(jdata.status == 200){
                    	self.total_list =  jdata.total;
                        self.transaction_list = jdata.items;
                        self.total_page = jdata.total_pages;
                        self.hide_data = true;
                        self.no_data = false;
                    } else {
                    	self.total_list = 0;
                    	self.hide_data = false;
                    	self.no_data = true;
                        return false; 
                    }
                },
                error: function(jdata){
                    return false;
                }
            });
        },
        callApiSet: function(process, payment, months, years, search){
        	var self = this;
        	var set_process = (process == 0)? '' : process;
        	var set_payment = (payment == 0)? '' : payment;
        	var set_month = (months == 0)? '' : months;
        	var set_year = (years == 0)? '' : years;
        	var set_search = (search == "")? '' : search;
        	self.chk_page = 1;
        	$.ajax({
                type: "POST",
                datatype: 'json',
                url: self.$api + "transaction/"+window.localStorage.getItem('customer_id')+"?act=list_by_customer&page="+self.chk_page + "&" + Math.floor(Math.random() * 10000),
                data: {
                	process_status: set_process,
                	payment_type: set_payment,
                	month: set_month,
                	year: set_year,
                	search: set_search
                },
                success: function(data) {
                    var jdata = JSON.parse(data);
                    if(jdata.status == 200){
                    	self.total_list =  jdata.total;
                        self.transaction_list = jdata.items;
                        self.total_page = jdata.total_pages;
                        self.hide_data = true;
                        self.no_data = false;
                    } else {
                    	self.total_list = 0;
                    	self.hide_data = false;
                    	self.no_data = true;
                        return false; 
                    }
                },
                error: function(jdata){
                    return false;
                }
            });
        },
        searchFilter: function(){
        	var self = this;
        	if(self.search_filter != ""){
	        	self.chk_page = 1;
	        	
        		if(self.save_payment_id == 0 && self.save_month == 0 && self.save_year == 0 && self.search_filter == ""){
        			self.callApiAll();
        		} else {
        			self.callApiSet(self.save_process_id, self.save_payment_id, self.save_month, self.save_year, self.search_filter);
        		}
        	} else{
        		self.callApiSet(self.save_process_id, self.save_payment_id, self.save_month, self.save_year, self.search_filter);
        	}
        }
    },
    beforeCreate: function(){
        loaderOn();
    },
    mounted: function(){
    	var self = this;
    	
        splashScreenOff();
        loaderOff();
        
        this.$nextTick(function() { 
        	self.scrollHorizontalDropdown();
        	self.status_filter_dropdown = new DropDown($('#status-filter'));
	    	self.payment_filter_dropdown = new DropDown($('#payment-filter'));
	    	self.month_filter_dropdown = new DropDown($('#month-filter'));
			$.ajax({
                type: "GET",
                datatype: 'json',
                url: self.$api + "transaction/"+window.localStorage.getItem('customer_id')+"?act=list_by_customer&page=" + self.chk_page + "&"+Math.floor(Math.random() * 10000),
                success: function(data) {
                    var jdata = JSON.parse(data);
                    if(jdata.status == 200){
                        self.total_list =  jdata.total;
                        self.transaction_list = jdata.items;
                        self.total_page = jdata.total_pages;
                        self.no_data = false;
                        self.hide_data = true;
                    } else {
                    	self.total_list = 0;
                    	self.hide_data = false;
                    	self.no_data = true;
                        return false; 
                    }
                },
                error: function(jdata){
                    return false;
                }
            });
            $.ajax({
                type: "GET",
                datatype: 'json',
                url: self.$api + "transaction/?act=process_status&" + Math.floor(Math.random() * 10000),
                success: function(data) {
                    var jdata = JSON.parse(data);
                    if(jdata.status == 200){
                        self.process_list =  jdata.items;
                    } else {
                        return false; 
                    }
                },
                error: function(jdata){
                    return false;
                }
            });
            $.ajax({
                type: "GET",
                datatype: 'json',
                url: self.$api + "transaction/?act=payment_type&" + Math.floor(Math.random() * 10000),
                success: function(data) {
                    var jdata = JSON.parse(data);
                    if(jdata.status == 200){
                        self.payment_list =  jdata.items;
                    } else {
                        return false; 
                    }
                },
                error: function(jdata){
                    return false;
                }
            });
            $.ajax({
                type: "GET",
                datatype: 'json',
                url: self.$api + "transaction/?act=month_year&" + Math.floor(Math.random() * 10000),
                success: function(data) {
                    var jdata = JSON.parse(data);
                    if(jdata.status == 200){
                        self.date_list =  jdata.items;
                    } else {
                        return false; 
                    }
                },
                error: function(jdata){
                    return false;
                }
            });
            $('#onscroll_page').on('scroll', function(e) {
            	var st = $(this).scrollTop();
            	var sh = $(this).height();
            	var s1 = $('#transactionlist-content').height();
            	var s2 = $('.under-header-card').height();
            	var s3 = $('header').height();
            	var sum = s1+s2+s3;
            	if((st + sh + 70) >= sum){
            		self.nextPage();
            	}
			});
        });
    },
    updated: function(){
    	var self = this;
    	this.$nextTick(function() { 
	    	self.status_filter_dropdown = new DropDown($('#status-filter'));
	    	self.payment_filter_dropdown = new DropDown($('#payment-filter'));
	    	self.month_filter_dropdown = new DropDown($('#month-filter'));
    	});
    }
}

</script>