<template>
  <div id="app">
    <transition name="pop" :name="transitionName">
        <router-view/>
    </transition>
    
    <div id="loader" class="loader">
				<div class="loader-img-wrapper">
					<img src="/static/img/logo/icon-96x96.png">
				</div>
        <div class="loader-ring-spin">
            <div></div>
        </div>
    </div>
    <div id="splashScreen" class="splashScreen active">
        <img src="/static/img/text-logo-white/text-logo-white.png">
    </div>
  </div>
</template>



<script>
const DEFAULT_TRANSITION = 'push';
export default {
  name: 'App',
  data: function(){
    return {
      transitionName: DEFAULT_TRANSITION
    }
  }
}
</script>
